**LOOPS**

When writing programs in Python, in some cases it is not enough to execute our block of code only once. **The loops are used to repeat (iterate) the execution of a block of code**.

As one of the most main functions in programming, loops enable programmers to set certain sections of their code to repeat through a number of loops which are referred to as **iterations**.

**Two main types of loops in python are : while Loop and for Loop**.

**'while' Loop**

While loop is "looping with a condition".

while loops have a **boolean logic, similar to if statements**. As long as the result of the condition returns **True, the code block under while loop runs.** When the condition returns to **False, the loop execution is terminated** and the program control moves further to the next operation.

**3 important points:**

- initialization (i = ?)
- Condition (örn. while i<=5)
- increment/decrement (örn i += 1) : Eğer increment-decrement değeri belirlemezsen infinite olur ve sürekli execute eder.

In [ ]:
number = 0
while number < 6:
    print(number)
    number += 1 
    print('now, number is bigger or equal to 6')  # print indentationun etkisini gormek icin bu iki satir
print('now, number is bigger or equal to 6')

0
now, number is bigger or equal to 6
1
now, number is bigger or equal to 6
2
now, number is bigger or equal to 6
3
now, number is bigger or equal to 6
4
now, number is bigger or equal to 6
5
now, number is bigger or equal to 6
now, number is bigger or equal to 6

In [ ]:
number = 0  # if'ten farkı
if number < 6:
    print(number)
    number += 1 
print('now, number is bigger or equal to 6')

0
now, number is bigger or equal to 6

In [ ]:
number = 5
while number < 8:
  print(number)
  number += 1
# The variable number acts as a counter in this loop. This variable changes its value after each iteration. 
# When the value of a counter reaches 6, the program control moves to the next operation and prints the text above.

5
6
7

In [ ]:
# increment
i = 1
while i<=5:
  print("Hello", i)
  i += 1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5

In [ ]:
# decrement
i = 5
while i >=1:
  print('Hello', i)
  i -= 1

Hello 5
Hello 4
Hello 3
Hello 2
Hello 1

**Avoid !** :
If we make a logical mistake in the loop variable (since you don’t increase your variable, a condition never becomes False and can work forever), we can start an infinite loop! For this reason, we have to specify a condition for the loop to give False to exit the loop.

```
True\False output:
1. Comparison op. (+, -, <, >...)
2. Logical op. (and, or, not)
3. Identity op. (is, is not)
4. Membership op. (in, not in) 
```

In [ ]:
my_list=["a", "b", "c", "d", "e"]
a = 2
while a < len(my_list):
    print('square of {} is : {}'.format(a, a**2))
    a+=1

square of 2 is : 4
square of 3 is : 9
square of 4 is : 16

In [ ]:
# kullanıcı yasini girsin, numeric mi check eden ve degilse tekrar yas girmesini isteyen bir code yazalım
age = input("Enter your age : ")

while not age.isdigit() :   # burası T ise aşağıyı calistirir. ama yanlissa üstteki calissin istiyoruz. bu nedenle basina not koyariz
  print("Enter a valid age")  # 35i boşlukla  girdigim icin F yapti,  alttaki input cikti direkt
  age = input("enter your age")  # bunu tekrar yazmamızın nedeni enter a valid age dedikten sonra tekrar sorması icin

print("Great! You entered a valid age and your age is :", age)

Enter your age : 42
Great! You entered a valid age and your age is : 42

In [ ]:
age = "18"
print(age.isdigit())  # isdigt icerigi 0dan 9a mi degil mi bakar. stringde uygulanır

age2 = "16.5"
print(age2.isdigit())

age3  = "onaltı"
print(age3.isdigit())

True
False
False

In [ ]:
flowers = ['Rose', 'Orchid', 'Tulip']
count1 = len(flowers)
count2 = 0  # birbirilerini etkileyecek iki initiator belirliyoruz burada

while count1>0 :
  print(flowers[count2])  # c1 3 ve c2 0 iken rose'u; c1 2 ve c2 1 iken orchidi ve c1 1 ve c2 2 iken tulipi yazdı.
  count1 -= 1
  count2 += 1

Rose
Orchid
Tulip

In [ ]:
names = ["Ali", "Veli", "Ahmet"]
index = 0  # initialisation
while index < len(names):  # condition
  print(names[index])
  index = index + 1  # increment-decrement
  # do not forget to change the condition. otherwise: infinite loop...
# bunu for loop ile yapalim:
print()
names = ["Ali", "Veli", "Ahmet"]
for name in names:
  print(name)

Ali
Veli
Ahmet

Ali
Veli
Ahmet

In [ ]:
number = 40

while True :
  guess = int(input("Guess the number: "))
  if guess < number : 
    print("A little higher")
  elif guess > number :
    print ("A little lower")
  else :
    print("You read my mind!")
    break  # burada doğruyu buldu. bu inner loopda eğer break olmasa tekrar 
    # while'a dönecek ve True olduğu için bir daha çalışacak. break olmadıkça bir daha bir daha.....

Guess the number: 30
A little higher
Guess the number: 45
A little lower
Guess the number: 80
A little lower
Guess the number: 23
A little higher
Guess the number: 32
A little higher
Guess the number: 43
A little lower
Guess the number: 40
You read my mind!

**In the example above;**

We have written a program that does not exit the while loop until you find the correct number,

We used **break keyword **in order to quit and exit the while loop,

When the user knows the answer (40) and enters input, it takes the value of 40 and assigns to variable guess, in the end, else works and breaks the loop.

In [ ]:
answer = 25
hak = int(input("kaç hak istersiniz?"))
sayac = 0
while hak > 0:
  hak -= 1
  sayac += 1
  tahmin = int(input("tahmininiz: "))
  if answer == tahmin :
    print(f"Tebrikler {sayac}. defada bildiniz...")
    break
  elif answer > tahmin :
    print("yukarı")
  else :
    print("aşağı")
  
  if hak == 0 :
    print(f"hakkınız bitti. tutulan sayı : {answer}.")

kaç hak istersiniz?5
tahmininiz: 35
aşağı
tahmininiz: 25
Tebrikler 2. defada bildiniz...

In [1]:
# Write a function for Sum of squares of first n natural numbers. 
# If the no is not a natural onei ask the user to try again
while True:
    total = 0
    n = int(input("Enter a natural number to see the total of the squares of to natural numbers up to your number : "))
    if n<0:
        print("You entered a wrong number. Try again!")
        
    else:
        for i in range(n+1):
            if n >= 0:
                total += i**2
        print(total)
        break

Enter a natural number to see the total of the squares of to natural numbers up to your number :  -3

You entered a wrong number. Try again!

Enter a natural number to see the total of the squares of to natural numbers up to your number :  5

55

In [ ]:
# task: cümlenin en uzun kelimesinin uzunluğunu bul
aaa = "Bugün Cumartesi olduğunu bilmiyordum"
aaa1 = aaa.split()
print(aaa1)
longest = 0
i = 0
while i < len(aaa1) :
  if len(aaa1[i]) > longest :
    longest = len(aaa1[i])

  i += 1

print("The length of the longest sentence : ", longest)
# i 4 olduğunda çıkar artık.

['Bugün', 'Cumartesi', 'olduğunu', 'bilmiyordum']
The length of the longest sentence :  11

In [ ]:
condition = 5
while True :
  condition -= 1
  print(condition)  # böyle sonsuza kadar gider. break koyarız bir yere onun icin
  if condition == 0:  # diekt burada break olsaydi 4 yazar ve bir daha tur yapmazdı.
    break  # break false sinyali gonderir ve loop'tan cikmasini saglar

4
3
2
1
0

In [ ]:
# while condition 1:   

    # body

    # while condition 2:
        
    #     body2
        
    #     break (bu inner looptan; alttaki ana looptan cikarir)
   
    # break

**nested while loop**:

In [ ]:
# task: altalta 5 satır hello world world world world yaz
i = 1
while i <=5:
  print('Hello', end=' ')
  i += 1  # en altta da olabilir bu önemli değil
  j = 1
  while j<=4:
    print('World', end=' ')
    j += 1  # increment/decrement belirlemezsk sürekli devam eder unutma.
  
  print()

Hello World World World World
Hello World World World World
Hello World World World World
Hello World World World World
Hello World World World World

In [ ]:
# Set a variable called total to 0. Ask the user to enter  five numbers and after each input 
# ask them if they  want that number included. If they do, then add the  number to the total. 
# If they do not want it included,  don’t add it to the total. 
# After they have entered all five  numbers, display the total.
i = 0
total = 0
while i <= 5:
  aaa = int(input("Enter number: "))
  addition = input("Do you want to add it to total:".lower())
  if addition == "yes":
    total = total + int(aaa)
    print(total)
  else:
    print("it hasn't been add.")
  i += 1
  if i == 5:
    break
print(total)

Enter number: 10
do you want to add it to total:yes
10
Enter number: 20
do you want to add it to total:yes
30
Enter number: 30
do you want to add it to total:no
it hasn't been add.
Enter number: 20
do you want to add it to total:yes
50
Enter number: 40
do you want to add it to total:yes
90
90

In [ ]:
# aynı soru for loopla daha kolay yapılıyor
total = 0
for i in range (5):
  aaa = int(input("Enter a number: "))
  addition = input("Do you want to add it to total:".lower())
  if addition == "yes":
    total = total + int(aaa)
    print(total)
  else:
    print("it hasn't been add.")
print(total)

Enter a number: 10
do you want to add it to total:yes
10
Enter a number: 20
do you want to add it to total:yes
30
Enter a number: 25
do you want to add it to total:no
it hasn't been add.
Enter a number: 30
do you want to add it to total:yes
60
Enter a number: 50
do you want to add it to total:yes
110
110

In [ ]:
# kullanıcıdan sayı grmesini iste ve bu sayıları topla, eger toplam 50den büyük olursa dur
i = 0
total = 0
while total <= 50:
  aaa = int(input("Enter a number: "))
  total = total + aaa
  print(total)
  i +=1
  if total >= 50:
    break
print("The total is", total)

Enter a number: 25
25
Enter a number: 15
40
Enter a number: 9
49
Enter a number: 2
51
The total is 51

**'FOR' LOOP**

One of the most used, very simple and useful syntaxes in Python is for loop. When you want to **iterate a block of code,** you should use **for loop**. **To create a for loop, you need a variable and an iterable object**. Here is the simple structure of a for loop :

for variable in iterable :

        code block

In [ ]:
for i in [1, 2, 3, 4, 5] :
    print(i)  # list icindeki elementleri teker teker i'ye alır ve listede 1 varsa 1 yaz, 2 varsa 2 yaz .....

1
2
3
4
5

**In the structure of the for loop, you can use also an iterable variable of course**.

In [ ]:
seasons = ['spring', 'summer', 'autumn', 'winter']
for season in seasons :
    print(season)
# ya da aynı şeyi şu şekilde yapalım:
print()
for season in ['spring', 'summer', 'autumn', 'winter'] :
  print(season)

spring
summer
autumn
winter

spring
summer
autumn
winter

In [ ]:
for i in {'n1' : 'one', 'n2' : 'two'} : 
  print(i)

n1
n2

In [ ]:
iterable = [1, 2, 3, 4]
for i in iterable:
    print(i*i)

1
4
9
16

In [ ]:
# liste = [[1, 2, 3, 4, 5], [6, 7, 8, 9], [10, 11, 12, 13], [14, 15, 16, 17]]
# for i in variable kisminda variable yerine direkt listeyi de yazabiliriz
for i in [[1, 2, 3, 4, 5], [6, 7, 8, 9], [10, 11, 12, 13], [14, 15, 16, 17]]:
    print(i[::-1])

[5, 4, 3, 2, 1]
[9, 8, 7, 6]
[13, 12, 11, 10]
[17, 16, 15, 14]

In [ ]:
for i in range(4,11,2):  # burada method da calistirabiliriz. Örn: 4'ten 11'e kadarki çift sayıları yaz
  print(i)
print()
for i in range(51):
  if not i % 10:  # i % 10 == 0
    print(i)

4
6
8
10

0
10
20
30
40
50

In [ ]:
# 0'dan 10'a kadar olan çift sayıların toplamını bulalım
total = 0
for i in range(11):
  if i %2 == 0:  # if i % 2:
    total += i  
    print(total)
print(total)  # print total seviyesinde iken altalta2,6,12,20,30 verdi. indentation!!!!!

0
2
6
12
20
30
30

In [ ]:
# "Clarusway" stringini harflerine ayır ve aralara tire olsun
aaa = "Clarusway"
for i in aaa:
  print(* aaa, sep= "-", end = "")
  if i=="C":
    break
# veya tireler icin sayac yapariz. kelime bilinemeyecegi icin bu yontem kullanılmalı
print()
aaa = "Clarusway"
counter = 0
for i in aaa:
  counter += 1
  if counter < len(aaa) :  # 9 degil de 8 tire olması icin burası. 8 kere true verince i güncellenecek hep
    i += "-"
  print(i, end = "")

C-l-a-r-u-s-w-a-y
C-l-a-r-u-s-w-a-y

In [ ]:
aaa = "Kadir"
counter = 0
for i in aaa:
  counter += 1
  if counter < len(aaa):
    i += "-"
  print(i, end= "")

K-a-d-i-r

In [ ]:
# 100'den küçük dogal sayılardan hem 10 hem 20 ye bölünenlerin karelerinin toplamı:
total = 0
for i in range(100):
  if (i % 10 == 0) and (i % 20 == 0):
    total += i*i
print(total)

total = 0
for i in range(50):
  if not i % 10 and not i % 20:
    total += i*i
    print(i)
print(total)

12000
0
20
40
2000

With the **BREAK** statement we can stop the loop before it has looped through all the items:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x) 
  if x == "banana":
    break

print()
# break printten önce de yazılabilir. o zaman banana öncesi durur.
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple
banana

apple

In [ ]:
aaa = [1,2,3,4,5,6,7,8,9]

for i in aaa:
  if i == 5:
    break  # ilk önce 5i buluyor, bulduğunda duruyor. break aşağıda olsa ilk önce yazdrır sonra dururdu. Order matters!
  print(i)

1
2
3
4

With the **CONTINUE** statement we can stop the current iteration of the loop, and continue with the next:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue  # BANANAyi atladi devam etti. print if öncesinde olsa normal hepsini yazdırır.
  print(x)

apple
cherry

In [ ]:
# Print out only odd numbers - 1,3,5,7,9 and print the total and add them into a list.
total = 0
listee = []
for x in range(10):
    
    if x % 2 == 0:
        continue
    total += x
    listee.append(x)
    print(x)
print(total)
print(listee)

1
3
5
7
9
25
[1, 3, 5, 7, 9]

In [ ]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575
    ]

for number in numbers:
  if number == 615:
            break
  if not number % 2:
    print(number)
print()
total = 0
listeee = [] 
for number in numbers:
  if number == 501:
    break
  if number % 2:
    listeee.append(number)
    total += number
    print(number, end=" ")
print()
print(total)
print(listeee)

402
984
360
408
980
544

951 651 69 319 601 485 507 725 547 615 83 165 141
5859
[951, 651, 69, 319, 601, 485, 507, 725, 547, 615, 83, 165, 141]

In [ ]:
total = 0
for i in range (1,75):
  total += i
print(total)  # sadece toplamını istiyorsak printin en basta olmasina dkkat

2775

In [ ]:
# Write a program that takes a number from the user and prints the result to check if it is a prime number.
n=int(input('Enter a number to check if it is a prime number : '))
count=0
for i in range(1, n+1):
    if n%i==0 : count += 1
    else : count += 0
if count < 3: print('{} is a prime number '.format(n))
else : print('{} is not a prime number'.format(n))

Enter a number to check if it is a prime number : 20
20 is not a prime number

In [ ]:
lst1=["Joe", "Sarah", "Mike", "Jess", "", "Matt", "", "Greg"]
def name_adder(list):
    i = 0
    new_list = []
    while i < len(list):
        if list[i] != "":
            new_list.append(list[i])
        i = i+1
    return new_list

name_adder(lst1)

['Joe', 'Sarah', 'Mike', 'Jess', 'Matt', 'Greg']

In [ ]:
lst2=["Kane", "Sarah", "Jim", "Jess", "", "Matt", "", "Greg"]

name_adder(lst2)

['Kane', 'Sarah', 'Jim', 'Jess', 'Matt', 'Greg']

In [ ]:
# print prime numbers between 1 - 100. We will display prime numbers in a list form
prime=[]  # created an empty list to collect prime numbers in it


for num in range(2, 101):
    status = True
    for i in range(2, num):
        if num % i == 0: # check if the only factors are 1 and itself
            status = False
    if status:
        prime.append(num)  # collect prime numbers in the list

print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

**Working with the Iterators**

Iterable object can be anything for which items are received one by one, forward only. In Python, **the process of recurrent execution of a block of code is called an iteration**. **Iterators in Python are array-like objects which allow moving on the next element. We use them in traversing a loop, for example, in a for loop**.

We can basically classify iterations as two headings :

If the number of repetitions is predetermined, it is called **definite iteration**.

The repetition structure that makes the code block run as long as the predetermined condition generates True is called **indefinite iteration**.

For example; string, list, tuple, dictionary or set are the iterable types of data.

In [ ]:
course = 'clarusway'
for i in course :
    print(i, end= " ")
# aşağı normal yazalım
print()
course = 'larusway'
for i in course:
  print(i)

c l a r u s w a y
l
a
r
u
s
w
a
y

In [ ]:
test = [(1,2), (3,4), (5,6)]
i,j = test[0]  
print(i,j)
print()  # ikisi aynı yöntem
for i, j in test:  # dict varsa elimizde(örn user) onu list'e cevirip bu sekilde for i,j yapabilriz.
  print(i,j)

1 2

1 2
3 4
5 6

In [ ]:
test2 = [(1,2,11), (3,4,12), (5,6,13)]
for i,j,k in test2:
  print(i*j*k)
print()
for i in test2:
  print(i)
print()

22
144
390

(1, 2, 11)
(3, 4, 12)
(5, 6, 13)

**Operations with the 'for' Loop** 

1. **With input() function :**

In [ ]:
times = int(input("How many times should I say 'I love you'"))
for i in range(times):
    print('I love you')

How many times should I say 'I love you'3
I love you
I love you
I love you

 let's write a code that asks the user a number between 1 and 10 and puts that number into the multiplication table:

In [ ]:
# n = int(input('enter a number between 1-10'))
n = 5  #dedi user örneğin
for i in range(11):
    print('{}x{} = '.format(n, i), n*i)  # ya da print(f"{n} x {i} =", n*i)

5x0 =  0
0
5x1 =  5
5
5x2 =  10
10
5x3 =  15
15
5x4 =  20
20
5x5 =  25
25
5x6 =  30
30
5x7 =  35
35
5x8 =  40
40
5x9 =  45
45
5x10 =  50
50

In [ ]:
# bunu % ile deneyelim
for i in range(1,11):
    print('{} % {} = '.format(n, i), n%i)

5 % 1 =  0
5 % 2 =  1
5 % 3 =  2
5 % 4 =  1
5 % 5 =  0
5 % 6 =  5
5 % 7 =  5
5 % 8 =  5
5 % 9 =  5
5 % 10 =  5

In [ ]:
# Task: 1'den 5'e kadar sayılardan oluşan bir liste oluşturun
liste = []
for i in range(1,6):
  liste.append(i)
  print(liste)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [ ]:
liste2 = []
for i in range(1,6):
  liste2.append(i)
print(liste2)

[1, 2, 3, 4, 5]

In [ ]:
a = 3
while a**2 < 299:
    print('I will stop smoking')
    a += 3

I will stop smoking
I will stop smoking
I will stop smoking
I will stop smoking
I will stop smoking

**2. Range()**

The range() function creates an iterable sequence of numbers. And it can be simply converted into an iterable object: list, set, and tuple.

**The formula syntax is : range(start, stop, step)**

In [ ]:
b = list(range(11))
print(b)

a = set(range(5,10))
print(a)

c = tuple(range(11))
print(c)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
{5, 6, 7, 8, 9}
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

you can use **starred expression** 👉🏻* before range() function to separate its elements.

In [ ]:
print(range(5))  # it will not print the numbers in sequence. "On the air" bir range object oluşturdu.
# peki bunu naisl acariz
print(*range(5))  # '*' separates its elements ve range objecti görünür yapar.
# veya
print(list(range(5)))
# veya
for i in range(5):
  print(i)

range(0, 5)
0 1 2 3 4
[0, 1, 2, 3, 4]
0
1
2
3
4

In [ ]:
print(*range(5,25,2))

5 7 9 11 13 15 17 19 21 23

Starred expression 👉🏻* can separate other iterable objects. For example, you can separate a string:

In [ ]:
print(*('separate'))

s e p a r a t e

You can create reverse sequence numbers using a negative step.

In [ ]:
print(*range(10,0,-2))

10 8 6 4 2

In [ ]:
for i in range(1,10):
  print(i * str(i))

# veya
a = 0
for i in range(1,10):
  a += 1
  print(str(i) *a)

1
22
333
4444
55555
666666
7777777
88888888
999999999
1
22
333
4444
55555
666666
7777777
88888888
999999999

**We can set up the for loop with multiple variables and the iterables**.

*** **zip() function** make an iterator that aggregates elements from each of the iterables.

In [ ]:
text = ['one','two','three','four','five']
numbers = [1, 2, 3, 4, 5]
for x, y in zip(text, numbers):
    print(x, ':', y)

team = "Galatasaray"
digits = range(len(team))
for x, y in zip(team, digits):
  print(x, ":", y)

one : 1
two : 2
three : 3
four : 4
five : 5
G : 0
a : 1
l : 2
a : 3
t : 4
a : 5
s : 6
a : 7
r : 8
a : 9
y : 10

In [ ]:
text = ['one','two','three','four','five']
numbers = [1, 2, 3, 4, 5]
zipped = zip(text, numbers)

for x,y in zipped:
  print(x, ":", y)

print()
print(* zipped)  # bu bosluk cikarir, birsey vermez
print(list(zipped))  # bu da bos liste verir. cunku bu tarz generate edilen onjeler kullanıldıktan sonra boşalmış olur.
# tekrar doldurursak olur
zipped = zip(text, numbers)
print(* zipped)
print()
# dict yapalım
zipped = zip(text, numbers)
print(dict(zipped))
# set yapalım
zipped = zip(text, numbers)
print(set(zipped))

one : 1
two : 2
three : 3
four : 4
five : 5


[]
('one', 1) ('two', 2) ('three', 3) ('four', 4) ('five', 5)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}
{('two', 2), ('five', 5), ('four', 4), ('one', 1), ('three', 3)}

In [ ]:
aa = [1,2,3,4]  # bunda 4 eleman var, sonuncuyu dikkate almadi. yani liste len'leri farkli olabilir
bb = ["a","b","c"]
cc = [10,20,30]
print(* zip(aa, bb, cc))
print()
for i, ii, iii in zip(aa, bb, cc):
  print(i, ii, iii)

(1, 'a', 10) (2, 'b', 20) (3, 'c', 30)

1 a 10
2 b 20
3 c 30

In [ ]:
# 1den 10a sayıların listesini oluşturup even ve odd olmalarına göre 2 lsteye ayır
list_even = []
list_odd = []

for i in range(1,11):
  if i%2 == 0:
    list_even.append(i)
  else:
    list_odd.append(i)
print(list_even, list_odd)

[2, 4, 6, 8, 10] [1, 3, 5, 7, 9]

In [ ]:
liste = [11,2,24,61,48,33,3]
evens = 0
odds = 0
for i in liste:
  if i % 2 == 0:
    evens += 1
  else:
    odds += 1

print("events count :", evens)
print("odds count :", odds)

events count : 3
odds count : 4

**Nested 'for' Loop**

Sometimes we need to use a single element of an iterable data and all other elements simultaneously, that is, **our code block in a loop can also contain a loop**. These are called nested loops.

In Python, we can easily place one loop inside another one. First outer loop then inner one runs.

In [ ]:
who = ['I am ', 'You are ']
mood = ['happy', 'confident']
for i in who:
    for ii in mood:
        print(i + ii)

I am happy
I am confident
You are happy
You are confident

In [ ]:
evens = [2]
odds = ["ekmek", "deterjan", "gazete"]

for a in evens:
  for b in odds:
    print(a, "adet", b, "al gel")

2 adet ekmek al gel
2 adet deterjan al gel
2 adet gazete al gel

In [ ]:
names = ['susan', "tom", "edward"]
mood = ["happy", "sad"]

for i in names:
  for ii in mood:
    print(i + " is " + ii)

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

In [ ]:
# for loop if condition ile de loop edilebilir. 
# 1'den 8'e kadar sayıları alalım ama 2'ye bölünmeyenler
for i in range(1,9):
  if i%2 != 0:
    print(i)

1
3
5
7

**Else in For Loop**

The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

Note: The else block will NOT be executed if the loop is stopped by a break statement.

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [ ]:
# 0'dan 100e kadar sayıları while ve for ile topla

counter = 0
total = 0

while counter < 100:
  counter += 1
  total += counter

print (total)

print()
counter = 0
total = 0
for counter in range (0, 100):
  if counter % 2 != 0:  # bunu koyarsak sadece oddları toplar
    counter += 1
    total += counter
print(total)

5050

5050

2550

In [ ]:
# Using while loop, if statement and str() function; iterate through the list and 
# if there is a 100, print it with its index number. i.e.: "There is a 100 at index no: 5"
lst=[10, 99, 98, 85, 45, 59, 65, 66, 76, 12, 35, 13, 100, 80, 95]
i = 0
while i < len(lst):
    if lst[i] == 100:
        print("There is a 100 at index no: " + str(i))
    i = i+1

There is a 100 at index no: 12

In [ ]:
# Take a list of words, converts each one to all-uppercase, and print out the uppercase word.
words = ["Four", "score", "and", "seven", "years", "ago"]
for i in words:
  print(i.upper(), end= " ")
print()
i = 0
while i < len(words):
  print(words[i].upper(), end= " ")
  i+= 1

FOUR SCORE AND SEVEN YEARS AGO
FOUR SCORE AND SEVEN YEARS AGO

In [ ]:
big_number_list = [1, 2, -1, 4, -5, 5, 2, -9]

# Print only positive numbers:
for i in big_number_list:
  if i < 0:
    continue
  print(i)

1
2
4
5
2

**SUMMARY**

For loops are used when you have a block of code which you want to repeat **a fixed number of times**. **The for-loop is always used in combination with an iterable object, like a list or a range.** The Python for statement iterates over the members of a sequence in order, executing the block each time. Contrast the for statement with the ''while'' loop, used when a condition needs to be checked each iteration or to repeat a block of code forever. For example:

In [ ]:
for x in range(0, 3):
    print("We're on time %d" % (x))
print()
x = 1
while True:
    # print("To infinity and beyond! We're getting close, on %d now!" % (x))
    x += 1  # yazdırırsak infinite loop

We're on time 0
We're on time 1
We're on time 2

**The for loop runs for a fixed amount of times, while the while loop runs until the loop condition changes**. In this example, the condition is the boolean True which will never change, so it will run forever.

**Nested loops**

When you have a block of code you want to run x number of times, then a block of code within that code which you want to run y number of times, you use what is known as a "nested loop". In Python, these are heavily used whenever someone has a list of lists - an iterable object within an iterable object.

Like the while loop, the for loop can be made to exit before the given object is finished. This is done using the break statement, which will immediately drop out of the loop and continue execution at the first statement after the block. You can also have an optional else clause, which will run should the for loop exit cleanly - that is, without breaking.

In [ ]:
for x in range(1,3):
    for y in range(1, 3):
        print('%d * %d = %d' % (x, y, x*y))

1 * 1 = 1
1 * 2 = 2
2 * 1 = 2
2 * 2 = 4

In [ ]:
for x in range(3):
    if x == 1:
        break

In [ ]:
for x in range(3):
    print(x)
else:
    print('Final x = %d' % (x))

0
1
2
Final x = 2

In [ ]:
list_of_lists = [ [1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list in list_of_lists:
    for x in list:
        print(x)

1
2
3
4
5
6
7
8
9

In [ ]:
fruits = ['banana', 'apple',  'mango']
for fruit in fruits:        # Second Example
   print('Current fruit :', fruit)

print()
fruits = ['banana', 'apple',  'mango']
for index in range(len(fruits)):
   print('Current fruit :', fruits[index])

Current fruit : banana
Current fruit : apple
Current fruit : mango

Current fruit : banana
Current fruit : apple
Current fruit : mango

In [ ]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
for day in range(len(weekdays)):
  print('Day', day+1, ':', weekdays[day])

Day 1 : Monday
Day 2 : Tuesday
Day 3 : Wednesday
Day 4 : Thursday
Day 5 : Friday

In [ ]:
sample_list = [{"section":5, "topic":2}, 'clarusway', [1, 4], 2020, 3.14, 1+618j, False, (10, 20)]

for i in range(len(sample_list)):
  print(f"The type of {sample_list[i]} is {type(sample_list[i])}")

The type of {'section': 5, 'topic': 2} is <class 'dict'>
The type of clarusway is <class 'str'>
The type of [1, 4] is <class 'list'>
The type of 2020 is <class 'int'>
The type of 3.14 is <class 'float'>
The type of (1+618j) is <class 'complex'>
The type of False is <class 'bool'>
The type of (10, 20) is <class 'tuple'>

How to find if a number is prime number or not?

In [ ]:
# simple-proper way

num = 12
for i in range(2, num):  # 2'den başlarız çünkü 1 ve kendisine bölünüyor. num'la biter cunku 7-1 olmalı. 
  if num % i == 0:  # num % i, cunku her biriyle kontrol etmesini istiyoruz.
    print("not prime")
    break  # eğer prime değilse boşu boşuna hepsini check etmesin. mesela 10 olsa, daha 2de bölünür, ilerlemesine gerek yok.
else:  # else indentli olursa for elde degil, if else olur. ic loop.
  print("prime")

not prime

In [ ]:
num = int(input("Enter a number to see if it's a prime number: "))

for i in range(2, num):
  if num % i == 0:
    print(num, "is not a prime number")
    break
else:
  print(num, "is a prime number")

21 is not a prime number

In [ ]:
num = 11
# If given number is greater than 1
if num > 1:
    # Iterate from 2 to n / 2
    for i in range(2, int(num/2)+1):
        # If num is divisible by any number between
        # 2 and n / 2, it is not prime
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

11 is a prime number

In [ ]:
i=0
total = 0
for i in range (1,56):
    total += i
    print(total, end = " ")
    if total == 55:
      break

1 3 6 10 15 21 28 36 45 55

Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for multiples of five print "Buzz".

For numbers which are multiples of both three and five print "FizzBuzz".

*Easy level: Just solve it
*Hard level : Don't use '=='

In [ ]:
for i in range(1,51):
  if not i%3 and not i%5:
    print("FizzBuzz")
  elif not i % 3:
    print("Fizz")
  elif not i % 5:
    print("Buzz")
  else:
    print(i, end= " ")

1 2 Fizz
4 Buzz
Fizz
7 8 Fizz
Buzz
11 Fizz
13 14 FizzBuzz
16 17 Fizz
19 Buzz
Fizz
22 23 Fizz
Buzz
26 Fizz
28 29 FizzBuzz
31 32 Fizz
34 Buzz
Fizz
37 38 Fizz
Buzz
41 Fizz
43 44 FizzBuzz
46 47 Fizz
49 Buzz

In [ ]:
# kullanıcı 15 girmis olsun
num = "15"
total = 0
for i in num:
  total +=int(i)
print(total)

6

**Video for how to print patterns in Python**:

https://www.youtube.com/watch?v=fX64q6sYom0

In [ ]:
# task: 4 hashtagten oluşan altalta 4 satır yaz.
for i in range(4):
  for j in range(4):
    print("#", end= " ")
  print()
print()
for i in range(4):
  for j in range(i+1):
    print("#", end= " ")
  print()

# # # #
# # # #
# # # #
# # # #

#
# #
# # #
# # # #

In [ ]:
for i in range(5):
  for j in range(i+1):
    print("*", end= "")
  print()
for a in range(4):
  for b in range(a,4):
    print("*", end="")
  print()

*
**
***
****
*****
****
***
**
*

In [ ]:
for i in range():
  for j in range(i+1):
    print("*", end= "")
  print()
for a in range(4):
  for b in range(a,4):
    print("*", end="")
  print()

In [ ]:
# return a 5 rows of increasing triangle
user_num = 5
for i in range(user_num):
  for j in range(i+1):
    print("*", end= " ")
  print()
print()
# return a 5 rows of decreasing triangle
for i in range(user_num):
  for j in range(i, user_num):  # burayı 0dan 4e yaptık ama user_number - i de aynı sonuc
    print("*", end= " ")
  print()
print()
# task: 1den 5e sayıları artan satırlarda göster
for i in range(1,6):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

* * * * *
* * * *
* * *
* *
*

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
user_num = 5
for i in range(user_num):
  for j in range(i+1):
    print("#", end= " ")
  for j in range(i, user_num):
    print("*", end= " ")
  print()
print()
user_num = 5
for i in range(user_num):
  for j in range(i, user_num):
    print("#", end= " ")
  for j in range(i+1):
    print("*", end= " ")
  print()
print()

# * * * * *
# # * * * *
# # # * * *
# # # # * *
# # # # # *

# # # # # *
# # # # * *
# # # * * *
# # * * * *
# * * * * *

In [ ]:
user_num = 5
for i in range(user_num):
  for j in range(i+1):
    print(j, end= " ")
  for j in range(i, user_num):
    print("*", end= " ")
  print()
print()
user_num = 5
for i in range(user_num):
  for j in range(i, user_num):
    print("#", end= " ")
  for j in range(i+1):
    print(j, end= " ")
  print()

0 * * * * *
0 1 * * * *
0 1 2 * * *
0 1 2 3 * *
0 1 2 3 4 *

# # # # # 0
# # # # 0 1
# # # 0 1 2
# # 0 1 2 3
# 0 1 2 3 4

In [ ]:
n = 5
for i in range(n):
  for j in range(i, n):
    print(" ", end=" ")
  for j in range(i):
    print("*", end=" ")
  for j in range(i+1):
    print("*", end = " ")
  print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [ ]:
n = 5
for i in range(1, n+1):
  for j in range(n - i):
    print("", end=" ")
  for j in range(i):
    print(j+1, end=" ")
  print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

ANAGRAM

In [ ]:
# Tek bir list icindeki stringlerin anagramlarını gruplama
anagrams = ["eat", "tea", "tan", "ate", "nat", "bat"]
# boş bir dict oluşturalım
grouped_anagrams = {}
# listedeki tüm stringleri tek tek itere edip sort edelim
for string in anagrams:
  
    sorted_string = str(sorted(string))
    print(sorted_string)
   # anagram olup olmamalarına göre listelere append edelim
    if sorted_string in grouped_anagrams:
        grouped_anagrams[sorted_string].append(string)
    else:
         # anagram olmayanları listeleyelim
        grouped_anagrams[sorted_string] = [string]

print(list(grouped_anagrams.values()))

['a', 'e', 't']
['a', 'e', 't']
['a', 'n', 't']
['a', 'e', 't']
['a', 'n', 't']
['a', 'b', 't']
[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]