**FUNCTIONS in PYTHON**

Basically, a function is **a block of code that executes some logic for you**, e.g. prints a text, deletes some data or square a number. In other words, a function is a piece of code that only runs when it is called. 

Functions simplify the coding process, prevent redundant logic, and make the code easier to follow.

Python provides several built-in functions to complete tasks and also allows a user to create new functions as well. **There are two types of functions: Built-In Functions: copy(), len(), count() are the some built-in functions. User-defined Functions: Functions which are defined by a user known as user-defined functions**.

**Python official documentation 1 - Functions: https://docs.python.org/3/library/stdtypes.html#functions**

**Python official documentation 2 - Function Definition: https://docs.python.org/3/reference/compound_stmts.html#function**

**Python official documentation 3 - Build-in Functions: https://docs.python.org/3/library/functions.html**

**Link 1 - Python Functions: https://www.w3schools.com/python/python_functions.asp**

**Link 2 - Python Functions: https://www.programiz.com/python-programming/function**

**Link 3 - Python Functions: https://www.geeksforgeeks.org/python-functions/**

**Calling a Functio**n

**Calling a Function Means Using It**

Reading a function is very easy in Python. For example; multiply(2, 5) or multiply(no1, no2). In this example, **multiply is the name of the function**, **2 and 5 are its arguments** **that we passed into the parameters which are the variables (no1 and no2**). This function multiplies two numbers.

**syntax : my_function()** : function name between round parantheses. FE print function : print()

In [ ]:
import datetime

def print_time():  # her seferinde saat için 3-5 satır yazmaktansa kısaca print_time() diye bir fonk belirledim.
  print("task is completed")
  print(datetime.datetime.now())
  print()

durum = "çok geç oldu.. bugün çalışma bitti artık"
print(durum)
print_time()

next_day = "bugün de çok çalıştım. kaçta bırakıyorum"
print(next_day)
print_time()

çok geç oldu.. bugün çalışma bitti artık
task is completed
2022-10-31 12:45:09.853359

bugün de çok çalıştım. kaçta bırakıyorum
task is completed
2022-10-31 12:45:09.853593

**DEFINING A FUNCTION**

Sometimes when we write a program, built-in functions may not be enough for us. Or sometimes we may need to use a block of code in our program repeatedly. Then we can write our own function. That is called the **user-defined function** in Python.

**The keyword def** introduces the name of the function. It must be **followed by the function name and the parenthesized list of formal arguments**. The statements that form the **body of the function start at the next line and must be indented** (leave four spaces).

In [137]:
def first_function(argument_1, argument_2) :
    print(argument_1**2 + argument_2**2, "bunu da ben ekledim")

first_function(2, 3)  # here, the values (2 and 3) are allocated to the arguments

13 bunu da ben ekledim

In [ ]:
def multiply(a, b) :
    print(a * b)

multiply(3, 5)
multiply(-1, 2.5)
multiply('amazing ', 3)

15
-2.5
amazing amazing amazing

In [ ]:
# example of function without any argument
def motto() :
    print("Don't hesitate to reinvent yourself!")

motto()  # it takes no argument

Don't hesitate to reinvent yourself!

In [3]:
def abc_fun(a,b,c):
  print(a+ b**c)
  
liste = [1,2,3]
abc_fun(liste[0], liste[1], liste[2])

9

In [138]:
def add_sub(a,b):
    c = a+b
    d = a-b
    return c,d

x,y= 7,5
print(add_sub(x,y))
result1, result2 = add_sub(x,y)
print(result1, result2)

(12, 2)
12 2

In [45]:
def hypotenuse(a, b):
    print((a**2 + b**2)**0.5)  # sonraki **0.5 karekök demek. 1/2nci kuvveti
print(hypotenuse(3,4))  # Nonetype olduğu için none yazdırdı bir de

print()
def hypotenuse(a, b):
    hypotenuse = (a**2 + b**2)**0.5
    return hypotenuse

hypotenuse(3, 4)  # print yok, return direkt numeric type verdi

5.0
None

5.0

In [51]:
def calculator(a,b,c):
    if c == "+":
       print(a+b)
    elif c == "-":
        print(a-b)
    elif c == "x":
        print(a*b)
    elif c == "/":
        print(a/b)
    else :
       print("Enter a valid value")
        
print(calculator(5,6, "x"))
print(calculator(5,6, "+"))

30
None
11
None

In [53]:
# aynı soruyu return ile yapalım
def calculator(a,b,c):
    if c == "+":
        return a+b
    elif c == "-":
        return a-b
    elif c == "x":
        return a*b
    elif c == "/":
        return a/b
    else :
        return "Enter a valid value"
        
print(calculator(5,6, "x"))
print(calculator(5,6, "+")) 
sonuc = calculator(3,5, "-")
print(sonuc)

30
11
-2

In [62]:
# define a function  to return absolute value of a number
def absolute_value(a):
    """ this function returns the absolute 
    value of any given number"""
    return abs(a)

print(absolute_value(3.3))
print(absolute_value(-4))
print(abs.__doc__)

3.3
4
Return the absolute value of the argument.

In [2]:
# ya da
def absolute_val(a):
    return a if a > 0 else - a

absolute_val(7)

7

In [61]:
print(absolute_value.__doc__)
# print(fonksiyonismi.__doc__) yaparsak icine girdiğimiz attribute'u, yani docstr.i getirir

 this function returns the absolute
    value of any given number

In [139]:
# traditional solution
def abs_value(num):
    if num >= 0:
        return num
    else:
        return -num
print(abs_value(3.3))
print(abs_value(-4))

3.3
4

In [15]:
# write a function that brings the capitalized first letter of a given word
aaa = "Weather"

def get_initial(a):
    """get_initial () returns the initials of given strings
   """ 
    return a[0].upper()
get_initial(aaa)

print(f"{get_initial(aaa)} is the first letter of {aaa}")

W is the first letter of Weather

In [158]:
# write Fibonacci series up to n
def fib(n):    
    """Print a Fibonacci series up to n."""  # The first statement of the function body (optionally string) is  docstring.
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b  
    print()  # buraya kadarki tüm işlem fib fonksiyonunu tanımlamak içindi.
# Now call the function we just defined:
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [159]:
print(fib.__doc__)

Print a Fibonacci series up to n.

In [ ]:
n = 56
a = 0
b = 1
while a < n:
  print(a, end=' ')
  a, b = b, a+b  
  if a > 55:
    break

0 1 1 2 3 5 8 13 21 34 55

In [ ]:
# bir kere fib tanimlandi. daha sonra istersek yeni variablesa atayip kullanabilirz
f = fib
f(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
def fib2(n):  # return Fibonacci series up to n
     """Return a list containing the Fibonacci series up to n."""
     result = []
     a, b = 0, 1
     while a < n:
         result.append(a)    # see below
         a, b = b, a+b
     return result  # : fib2() diye bir fonk def et ve call halinde result list'ini return et.

f100 = fib2(100)    # call it
f100                # write the result

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
def fib5(n):
  """Return a list containing the Fibonacci numbers up to n."""
  fib_list = []
  a, b = 0, 1
  while a < n:
    fib_list.append(a)
    a, b = b, a+b
  return fib_list

# user input n'i 50 verdi. ya direkt fib5(50) deriz; ya da f50 = fib5(50) diye variable tanimlar oyle print aliriz.
f50 = fib5(50)
print(f50)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

# **Execution of a Function** : **RETURN**

In order to use later the output and data types generated by the functions in our program flow, we need to define our function using **the keyword return** in addition to def.

In [18]:
def multiply_1(a, b) :
    print(a + b)  # it prints something

def multiply_2(a, b) :
    return a + b  # returns any numeric data type value

multiply_1(10, 5)
print(multiply_2(10, 5))

15
15

the outputs are the same. Then what is the difference? **Well, the first function just prints some data that we passed into. The second one generates a numeric type value. If we check their types we will see** :

In [10]:
print(type(multiply_1(10, 2)))
print(type(multiply_2(10, 5)))
# print(multiply_1(3,5) * 2) TypeError: unsupported operand type(s) for *: 'function' and 'int'
print(multiply_2(3,5) * 2)

12
<class 'NoneType'>
<class 'int'>
16

So, when we need it in our program, we can't use the result of the first function since it is NoneType data. But, the second one is integer data that we can use it in the future when we need it.

Note that, if there are more than one keyword return in a function, then the execution of that function will end after the first return.

In [ ]:
def multiply_2(a, b) :
    return a * b  # returns any numeric data type value
    return a + b  # ikinciyi return etmez.

print(multiply_2(10, 5))

50

In [44]:
def add(a,b):
    return a+b

listem = []
for i in range(5):
    if not i%2:
        listem.append(i+add(21,8))
    
print(listem)

[29, 31, 33]

In [45]:
# tanımladığımız bir fonksiyonu del keyword ile silebiliriz
del add  # paranteze gerek yok sadece ismi yazılır
# çalıştırdım silindi artık

In [22]:
"""
a = print(4+5)
type(a)  # a print() 'in typeına bakıyoruz biz 4+5in değil. bu nedenle nonetype
print(a*3)  # error verir cunku nonetype ve int carpilmaz.
"""

"\na = print(4+5)\ntype(a)  # a print() 'in typeına bakıyoruz biz 4+5in değil. bu nedenle nonetype\nprint(a*3)  # error verir cunku nonetype ve int carpilmaz.\n"

In [25]:
def add2(s1, s2):
    print(s1+s2)

listem2 = []

for i in range(5):
    listem2.append(i+add2(21,8))  # burada calistirinca error verdi. cunku fonk.da return değil s1+s2 print tanimladık ve NOnetype oldu

29

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [12]:
def add2(s1, s2):
    return s1+s2

listem2 = []

for i in range(5):
    listem2.append(i+add2(21,8))
listem2

[29, 30, 31, 32, 33]

In [26]:
def topla(x,y):
    return (x+y)  # return olunca yukardakinden farklı artık. print nonetype idi bu normal int verir.

type(topla(4,5))

int

In [46]:
def listem():
    return [1,2,3,4,5]

listem()[2]  # fonksiyonun sadece belli bir indexini cagirabiliriz.

3

In [47]:
# is "407" an armstrong number?
aaa = "407"
aaa.split()
bbb = list(aaa)
print(bbb)

def multiply_2(a, b, c) :
    return a**3 + b**3 + c**3

multiply_2(int(bbb[0]), int(bbb[1]), int(bbb[2])) == 407

['4', '0', '7']

True

In [22]:
# define a function to calculate the area of rectangle. get the width and height from the user.
def area(width, height):
    area = width * height
    return area
user_width = 5
user_height = 6
print(area(user_width, user_height))

30

In [49]:
# iki stringden hangisinin daha uzun olduğunu gösteren bir kod yaz:
def longer(a, b):
    if len(a) >= len(b):
        return a
    else:
        return b

print(longer('Richard', 'John'))

Richard

In [165]:
# Daha önce tanımlamış olduğumuz fonksyonları değişkenlere atayabiliriz
a = my_function(5,6)
a

30

**ARGUMENTS**

**Arguments vs Parameters**

Arguments are some kind of variable. So you can think of them as aliases for variables. This is exactly what we call the parameters. That is, **the values ​​you assign to the parameters defined in a function are arguments**. 

(Parameters variables, arguments values)

Parameters are the variables in the definition of a function. In other words, they exist in the function signature and will be used as variables in the function body.

Arguments are the actual values that were passed to the function when we call it. In other words, an argument could be an integer, a string, or any object.

In [166]:
def who(first, last) :  # 'first' and 'last' are the parameters(or variables)
    print('Your first name is :', first)
    print('Your last name is :', last)

who('Guido', 'van Rossum')  # 'Guido' and 'van Rossum' are the arguments
# If we pass only one argument into the parameter of the  who() function, it gives an error.

Your first name is : Guido
Your last name is : van Rossum

In [23]:
def add(a,b):  # a and b are called formal arguments
    c = a+b
    return c

add(5,6)  # 5 and 6 are called actual arguments

11

Actual arguments have 4 types:

1. Position
2. keyword
3. default
4. variable length

**Correct Use of Arguments**

**Positional Arguments**

Positions (sequence) of the arguments matter. When calling a function with positional arguments, they must be passed in order from left to right. (mandatory parameters.)

In [52]:
def pos_args(a, b):  # a ve b positional arguments. alttaki first ve secondları poziyon sıralamasına göre alırlar.
                    # they are set according to their sequences. = ile değer atanmamışsa pos arg'dir.
    print(a, 'is the first argument')
    print(b, 'is the second argument')

pos_args('first','second')
print()
pos_args('second', 'first')

first is the first argument
second is the second argument

second is the first argument
first is the second argument

In [167]:
c = "I"
a = "love"
b = "you"
def texter(text2, text3, text1):
    print(text2,text3,text1)

texter(c,a,b)  # c text1e a text2ye ve b text 3 e atandi

I love you

In [78]:
# bunu kw args ile yapalım
def texter(text1, text2, text3):
       print(f"{text2} {text3} {text1}")

print(texter(text1 = "you", text2 = "I", text3 = "love"))

I love you
None

**Keyword Arguments**

**If you do not want to allow the sequences/positions of the arguments to restrict you when you call a function, you can also call these arguments by keywords.** kwargs is used as an abbreviation of keyword arguments.

**The formula syntax is : kwargs=values**.

In [53]:
def who(first, last) :  # same structure as the previous one
    print('Your first name is :', first)
    print('Your last name is :', last)

who(last='van Rossum', first='Guido', )  # calling the function is different
# we used kwargs to pass the values into the function

Your first name is : Guido
Your last name is : van Rossum

In [73]:
def participants(first, last):
    print(last, ",", first)

participants(first = 'David', last = 'Harvey')

Harvey , David

In [86]:
def person(name, age):
    print(name)
    print(age -5)

# person(28, "David")  # positions are wrong, so it gives error: unsupported operand type(s) for -: 'str' and 'int'
# we can solve it with keyword arguments
person(age=28, name="David")

David
23

**Special Arguments**

By default, arguments may be passed to a Python function either by position or explicitly by keyword. For readability and performance, it makes sense to restrict the way arguments can be passed so that a developer need only look at the function definition to determine if items are passed by position, by position or keyword, or by keyword.

def a_function(pos1, pos2, /, pos_or_kwd, *, kwd1, kwd2)

where 👉🏻/ and 👉🏻* are optional. If used, these symbols indicate the kind of parameter by how the arguments may be passed to the function: positional-only, positional-or-keyword, and keyword-only. Keyword arguments are also referred to as named arguments or named parameters.

**Positional-or-Keyword Arguments**

If 👉🏻/ and 👉🏻* are not present in the function definition, arguments may be passed to a function by position or by keyword. These are the arguments that we have already mentioned previously.

**Positional-Only Arguments**

Looking at this in a bit more detail, it is possible to mark certain parameters as positional-only. If positional-only, the parameters’ order matters and the parameters cannot be passed by keyword. Positional-only parameters are placed before a 👉🏻/ (forward-slash). The 👉🏻/ is used to logically separate the positional-only parameters from the rest of the parameters. If there is no 👉🏻/ in the function definition, there are no positional-only parameters.

Parameters following the 👉🏻/ may be positional-or-keyword or keyword-only.

**Keyword-Only Arguments**

To mark parameters as keyword-only, indicating the parameters must be passed by keyword argument, place an 👉🏻* in the arguments list just before the first keyword-only parameter.


# **Arbitrary Number of Arguments**

**Default Arguments**

The most useful form is to specify a default value for one or more arguments. This creates a function that can be called with fewer arguments than it is defined to allow. When calling a function defined by parameters with default values, there is no obligation to pass any arguments into the function.

New values can be assigned to parameters either by name or by position.

In [90]:
def person(name,age):
    print(name)
    print(age)

# person("David") # position erroru verir: TypeError: person() missing 1 required positional argument: 'age'
# yine de tek variable yazdırmak istiyorsak defaul argument kullanırız. Orn Facebooka girmek için 
# yas 18 kabul edilsin, yani zaten default olsun
def person(name,age=18):  #age parametresi artık default valueya sahip default bir argument
    print(name)
    print(age)
print(person("David"))

# default argumentin valuesu guncellenebilir
print(person("David", 28))

David
18
None
David
28
None

In [24]:
def aaa(x = "ali", y = "22"):
    print(x,y, "yaşındadır")
aaa()  # zaten default olduğu için artık içine yazmamıza gerek yok

ali 22 yaşındadır

In [80]:
aaa(y = 33, x = "veli")  # ama valueları değiştirmek istersek girebiliriz

veli 33 yaşıdnadır

In [82]:
aaa("veli", 40)  #bu da çalışır. keywords tanımlandıysa bir kere pos olarak da gider

veli 40 yaşıdnadır

In [83]:
aaa("gamze")  # bir tane de versek çalışır. 22yi defaul alır.

gamze 22 yaşıdnadır

In [84]:
aaa(40, "veli")  # pos arg olmasına dikkat. yerleri doğru yazmazsak ters çıkarır.

40 veli yaşıdnadır

In [85]:
aaa(33)  # positions matter!!!

33 22 yaşıdnadır

In [3]:
# aşağıda *args ama burada da kısaca değinelim ilk 3 arg typedan hemen sonra sonuncu olduğu için.
# 4. Variable length argument: bunun özelliği arguments sayısının sabit olmaması. diyelim kullanıcı function belirlerken
# yazdığımız 2 parametreye takili kalmamak, ikiden cok daha fazla argüma işlemek istiyor.
# o zaman bunu kullanırız. Örneğin

def sum(a, *b):  # başta bu a,b idi. 2 sayının toplamı. altta da 5,6 vardi. oraya daha fazla value eklemek için *
    c = a+b
    print(c)
 # sum(5,6,38,79)  # a,b 2 tane value alır. * sonrasındaysa a yine ilkini (5), b de kalanları alır.

# AMAAAAA bunu çallıştırınca error verir: int ve tuple toplanamaz erroru. çünkü *b valuelarını (6,38,79) 
# tupleı yapar. a ve b yi print ederek gorelim
# print(a, type(a))  sum'ı # yaptığım için a'yı bulamadı. ama output: 5, int
# print(b, type(b))  output(6,38,79), tuple

# peki bunu nasıl çözeceğiz: for loop ile; aşağı cell

In [5]:
def sum(a, *b):
    c = a
    for i in b:  # for loop ile byi itere edip 3 elemanını tek tek c'ye ekledik. zaten a içindeydi
        c = i + c
    print(c)
    
sum(5,6,38,79)

# peki sadece tek parameter ile nasıl yaparız: aşağıda

128

In [6]:
def sum(*b):
    c = 0  # c'yi loopslardaki total örneği gibi düşün
    for i in b:
        c = i +c
    print(c)
sum(5,6,38,79)

128

In [91]:
def city(capital, continent='Europe'):
    print(capital, 'in', continent)

city('Athens')  # we don't have to pass any arguments into 'continent'
city('Ulaanbaatar', continent='Asia')  # we can change the default value by kwargs
city('Cape Town', 'Africa')  # we can change the default value by positional args.
city("Paris")  # en baştakine dönersek:

Athens in Europe
Ulaanbaatar in Asia
Cape Town in Africa
Paris in Europe

In [66]:
def calisma(soru, konu="functions", metod="pratik", saat = "12.00"):
    print("Cumartesi", saat,"de G2 grubuyla", konu,"konusunda", metod,"yapacağız ve", soru, "soru çözeceğiz")
calisma(100)
calisma(soru = 50, konu="loops", saat = "15.00")
calisma("bir miktar", metod = "beyin fırtınası")
calisma(75, "17.00", "bahçe çalışması")  # ilki direkt soruya, diğerleri positional keywordsler olarak sırasıyla funksiyon içine atandı.
# calisma(konu="loops", 50, saat = "15.00") bu error verir: SyntaxError: positional argument follows keyword argument

Cumartesi 12.00 de G2 grubuyla functions konusunda pratik yapacağız ve 100 soru çözeceğiz
Cumartesi 15.00 de G2 grubuyla loops konusunda pratik yapacağız ve 50 soru çözeceğiz
Cumartesi 12.00 de G2 grubuyla functions konusunda beyin fırtınası yapacağız ve bir miktar soru çözeceğiz
Cumartesi 12.00 de G2 grubuyla 17.00 konusunda bahçe çalışması yapacağız ve 75 soru çözeceğiz

In [92]:
def parrot(voltage, state='funny', action='talk', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

parrot(1000)  # 1 positional argument

-- This parrot wouldn't talk if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's funny !

In [87]:
parrot(voltage=1000)  # 1 keyword argument

-- This parrot wouldn't talk if you put 1000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's funny !

In [88]:
parrot(voltage=1000000, action='VOOOOOM')  # 2 keyword arguments

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's funny !

In [89]:
parrot(action='VOOOOOM', voltage=1000000)  # 2 keyword arguments

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's funny !

In [90]:
parrot('a million', 'bereft of life', 'jump')   # 3 positional arguments

-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !

In [91]:
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't talk if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

In [94]:
# parrot()  böyle cagirirsak error: TypeError: parrot() missing 1 required positional argument: 'voltage'

Considering the defined functions, all the following calls would be invalid:

```
parrot()                     # required argument missing
parrot(voltage=5.0, 'dead')  # non-keyword argument after a keyword argument
parrot(110, voltage=220)     # duplicate value for the same argument
parrot(actor='John Cleese')  # unknown keyword argument
```

**In a function call, keyword arguments must follow positional arguments**. All the keyword arguments passed must match one of the arguments accepted by the function (e.g. actor is not a valid argument for the parrot function), and their order is not important. This also includes non-optional arguments (e.g. parrot(voltage=1000) is valid too). **No argument may receive a value more than once**.

In [96]:
def argu(a, b = "dünya", c, d = "saturn"):
    print(a,b,c,d, sep = "\n")
# çalışmaz, çünkü fonksiyonu tanımlarken de once pos arg sonra kwargs tanımlanmalı. 
# SyntaxError: non-default argument follows default argument
# dogrusu asagida

SyntaxError: non-default argument follows default argument (1565486648.py, line 1)

In [102]:
def argu(a, c, d = "saturn", b = "dünya"):

    print(a,b,c,d, sep = "\n")

# argu() dersek pos argumnları yazmadigimiz icin error verir
argu("uranüs", "jupiter")

uranüs
dünya
jupiter
saturn

In [103]:
argu(a = "uranüs", c = "jupiter")

uranüs
dünya
jupiter
saturn

In [104]:
argu(c = "uranüs", a = "jupiter")  # funk tanimlarken pos olarak a c den ondeydi ama keyword olarak atama yapinca onemi kalmaz

jupiter
dünya
uranüs
saturn

# KURAL : POSITIONAL ARGUMENTS KEYWORDS ARGUMENTS SONRASI OLMAZ!!!!!

In [29]:
 # argu("pluto", c = "venüs", "Mars")  calismaz Marstan dolayı
# SyntaxError: positional argument follows keyword argument

In [30]:
# argu("pluto", "mars", c = "venüs") bu da calismaz cunku cye zaten marsi atadi 2.yi, sonra tekrar value atiyoruz!!

In [107]:
argu(d = "güneş", a = "dünya", c = "pluto", b = "venüs")

dünya
venüs
pluto
güneş

In [111]:
def argu(a, c, d = "saturn", b = "dünya"):

    print(a,b,c,d, sep = "\n")
    
argu("güneş", "dünya", "plüto", "venüs")  # bu da çalışır. pos ilk ikisi ok. 3 ve 4 noya da keywordlu olanların valuelar guncellendi
# ama aşağıda cıktı sıralamasına dikkat. venüs en sonda oldugu icin fonk() icinde en sondaki bye atadi ve printte be 2 olunca 2 cikardi

güneş
venüs
dünya
plüto

In [112]:
def fonksiyon(x,y):
    print(x,y, "yaşındadır")

In [113]:
fonksiyon(x = "ali", y=33 )  # positinlarla tanımlayıp kw'lerle cagirdik

ali 33 yaşındadır

# *args and **kwargs

We use *args when we aren’t sure how many arguments are going to be passed into a function, or if we want to pass a stored list or tuple of arguments to a function. (variable length arguments)

**kwargs (keyworded variable length arguments) is used when we don’t know how many keyword arguments will be passed to a function, or it can be used to pass the values of a dictionary as keyword arguments. 

*args and **kwargs enable us to assign **arbitrary number of arguments** and keywords.

syntax: *args - **kwargs

Any formal parameters which occur after the *args parameter are ‘keyword-only’ arguments, meaning that they can only be used as keywords rather than positional arguments.

In Python, the parameters like *args are called **variadic parameters**. Functions that have variadic parameters are called **variadic functions** (değişken sayıda argüman alabilen fonsiyon).

Note that you don’t need to name args for a variadic parameter. For example, you can use any meaningful names like *numbers, *strings, *lists, etc.

However, by convention, Python uses the *args for a variadic parameter.

In [122]:
def add(*args):
    print(type(args))
    print(args)

add()

<class 'tuple'>
()

In [15]:
# args
# For example, define a function which takes two kinds of fruit and prints them.  
def fruiterer(fruit1, fruit2) :
    print('I want to get', fruit1, 'and', fruit2)
        
fruiterer('orange', 'banana')

# What if the user wants to get more than two kinds of fruit? 
# Since we don't know how many kinds of fruit each user will enter, 
# using 'arbitrary numbers of arguments' is the most intelligent method.

def fruiterer(*fruit) :
    print('I want to get :')
    for i in fruit :
        print('-', i)
        
fruiterer('orange', 'banana', 'melon', 'ananas')

I want to get orange and banana
I want to get :
- orange
- banana
- melon
- ananas

In [121]:
# tuple unpacking ile aynı mantık bu
x,y,*z = 10, 20, 30, 40, 50
print(x,y,z)
# bunu function ile yapalim
def add(x, y, *kalan_sayilar):
    for sayi in kalan_sayilar:
        return (x,y, kalan_sayilar)

result = add(10, 20, 30, 40, 50)
print(result)

# fark: It’s like tuple unpacking except that the kalan_sayilar is a tuple, not a list..

10 20 [30, 40, 50]
(10, 20, (30, 40, 50))

In [34]:
# args
def best_auto(*model):
    print("the best model of 2022 is, respectively ")
    for i in model:
        print("*", i)
best_auto("mercedes", "volvo", "tesla", "bmw")

the best model of 2022 is, respectively
* mercedes
* volvo
* tesla
* bmw

In [17]:
# task 1den 9a sayılrarı *args le even ve odd listelerine al

def slicer(*num):
    evens = []
    odds = []
    for i in num:
        if i %2==0:
            evens.append(i)
        else:
            odds.append(i)
    
    print("evens list :", evens)    
    print("odds list :", odds)    

slicer(1,2,3,4,5,6,7,8,9)

evens list : [2, 4, 6, 8]
odds list : [1, 3, 5, 7, 9]

In [19]:
# indexleme ile yapalım bir de bunu
def slicer(*numbers):
    evens= [numbers[1::2]]
    odds= [numbers[0::2]]
    print("evens list :", evens)    
    print("odds list :", odds)
    
slicer(1,2,3,4,5,6,7,8,9)  # sonucu tuple verdi, list icinde bir tuple. cunku neyi indexler slicelarsan o tipi alırsın

evens list : [(2, 4, 6, 8)]
odds list : [(1, 3, 5, 7, 9)]

In [22]:
# list comp yontemiyle yapalım bunu simdi:
def slicer(*num):
    print("odds :", [i for i in num if i%2])
    print("evens : ", [i for i in num if not i%2])
    
slicer(1,2,3,4,5,6,7,8,9)

odds : [1, 3, 5, 7, 9]
evens :  [2, 4, 6, 8]

In [25]:
# list comp ile alternatif bir yol:
evens = []
odds = []
def status(*args):
    evens.append([i for i in args if not i%2])
    odds.append([i for i in args if i%2])
    return evens, odds

status(*range(1,10))

([[2, 4, 6, 8]], [[1, 3, 5, 7, 9]])

In [134]:
# If you use the *args argument, you cannot add more positional arguments. However, you can use keyword arguments.
# The following example results in an error because it uses a positional argument after the *arg argument:

def add(x, y, *args, z):
    return (x,y, args, z)
# add(10, 20, 30, 40, 50) error verdi
add(10, 20, 30, 40, z = 50)  # zyi keyword arg yaparak cozebiliriz

(10, 20, (30, 40), 50)

# (**kwargs) works in accordance with the dict principals

In [8]:
# kwargs
# diyelim ki person() diye bir fonksiyon tanımladık. bir kişinin bilgi valuelarını istiyoruz.
# person(name, *data) dedik. data icine dolayısıyla yasadigi sehir, yasi, tel nosunu eklemis olalım.
# örn: def person(name, *data):
#.          print(name, *data)
# person("David", 0012345423, 35, "Cambridge")
# Ama burda bir sorun var. David isim o belli, ilk arguman. peki 2. tel mi degil mi nasıl emin olacagiz
# belki id nosu. ya da 35 ne, yas mi, ya baska birseyse. Cambridge hangi cambridge, ABD'deki mi İngiltere'deki mi?
# tüm bu belirsizlikleri aşmak için *data (yani *args) yetersiz olduğu için bunu keyworded args yaparız (**kwargs)
# yani args artık kw ile yazılır ve **kwargs hepsini içerir
# örn def person(name, **kwargs)  person("David", mobile = 0012345423, age = 35, work_city = "Cambridge").

In [20]:
def person(name, **kwargs):
    print(name)
    print(kwargs)  # burada ne yazacaksan ** koyulmaz. bir str ve bir tuple cikti
    
person("David", age = 35, mob = 0o12345423, work_city = "Cambridge")

# bunu for loop ile de yazdırabiliriz

David
{'age': 35, 'mob': 2738963, 'work_city': 'Cambridge'}

In [23]:
def person(**kwargs):  # name de olmasın hepsi kwyworded olsun bu sefer
    # loopda neden i,j. cünkü bunlar artik key-value pairs: items.
    for i,j in kwargs.items():  #  for i,j in kwargs dedim ve error: ValueError: too many values to unpack (expected 2)
                        # çünkü eksik yazdım. kwargs.items() olmalı. paranteze dikkat.
        print(i,j)
    
person(name= "David", age = 35, mob = 0o12345423, work_city = "Cambridge")

name David
age 35
mob 2738963
work_city Cambridge

In [26]:
# sarı aslan, siya kedi, beyaz kuş ve userın gireceği diğer hayvanların renk ve cinsini yazıracak bir fonk tanımla
def animals(**kwargs):
    for key, value in kwargs.items():
        print(value, "are", key)
 
animals(Carnivores="Lions", Omnivores="Bears", Herbivores="Deers", Nomnivores="Human")

Lions are Carnivores
Bears are Omnivores
Deers are Herbivores
Human are Nomnivores

In [34]:
# isimlerinden oluşan parametrelere yaşları atanan 5 kişinin isim ve yaşlarını ayrı listelerde göster
def organizer(**people):
    names = []
    ages= []
    for keys, values in people.items():
        
        names.append(keys)
        ages.append(values)

    print(names, ages, sep = "\n")

organizer(Han = 34, Selim = 28, Mustafa = 40, Ali = 33)

['Han', 'Selim', 'Mustafa', 'Ali']
[34, 28, 40, 33]

In [35]:
dict(Han = 34, Selim = 28, Mustafa = 40, Ali = 33)

{'Han': 34, 'Selim': 28, 'Mustafa': 40, 'Ali': 33}

In [36]:
# list comp
def organizer(**data):
    names = [i for i in data.keys()]
    ages = [i for i in data.values()]
    
    print("names : ", names)
    print("ages : ", ages)

organizer(Han = 34, Selim = 28, Mustafa = 40, Ali = 33)

names :  ['Han', 'Selim', 'Mustafa', 'Ali']
ages :  [34, 28, 40, 33]

people in the world of computer programming use (*args) for the arbitrary number of positional arguments and (**kwargs) for the arbitrary number of keyword arguments.

In [82]:
# bu ise tersi. parametrelere değil de *ı argümana koyuyoruz. çok sayıda arguman tek variable'a * ile eklenmis oluyor
def brothers(bro1, bro2, bro3):
    print('Here are the names of brothers :')
    print(bro1, bro2, bro3, sep='\n')

family = ['tom', 'sue', 'tim']
brothers(*family)

Here are the names of brothers :
tom
sue
tim

In [37]:
def gene(x, y):  # defined by positional args
    print(x, "belongs to Generation X")
    print(y, "belongs to Generation Y")
 
dict_gene = {"y" : "Marry", "x" : "Fred"}
gene(**dict_gene)  # we call the function by a single argument(variable)

Fred belongs to Generation X
Marry belongs to Generation Y

In [19]:
def gene(x='Solomon', y='David'):  # defined by kwargs (default values assigned to x and y)
    print(x, "belongs to Generation X")
    print(y, "belongs to Generation Y")
 
dict_gene = {'y' : "Marry", 'x' : "Fred"}  # valueları güncelledik
gene(**dict_gene)

Fred belongs to Generation X
Marry belongs to Generation Y

In [38]:
# the "*args" and "*kwargs" can be renamed
def my_func(*whatever, **does_not_matter):
    print(whatever)  # tuple
    print(does_not_matter)  # dict
    print(whatever, does_not_matter)
my_func('a', 'b', 'c', name='Chris', age=33)

('a', 'b', 'c')
{'name': 'Chris', 'age': 33}
('a', 'b', 'c') {'name': 'Chris', 'age': 33}

# Examples on Arguments

In [21]:
"""
def standard_arg(arg):
    print(arg)

def pos_only_arg(arg, /):
    print(arg)

def kwd_only_arg(*, arg):
    print(arg)

def combined_example(pos_only, /, standard, *, kwd_only):
    print(pos_only, standard, kwd_only)
    """

'\ndef standard_arg(arg):\n    print(arg)\n\ndef pos_only_arg(arg, /):\n    print(arg)\n\ndef kwd_only_arg(*, arg):\n    print(arg)\n\ndef combined_example(pos_only, /, standard, *, kwd_only):\n    print(pos_only, standard, kwd_only)\n    '

The first function definition, standard_arg, the most familiar form, places no restrictions on the calling convention and arguments may be passed by position or keyword:

def standard_arg(2):

def standard_arg(arg=2)

In [18]:
def standard_arg(name):
      print(name)
standard_arg("David")
# or
def standard_arg(name = "David"):
      print(name)
standard_arg("Julia")

David
Julia

The second function **pos_only_arg** is restricted to only use **positional parameters** as there is a 👉/ in the function definition:

def pos_only_arg(1)  # works

def pos_only_arg(arg=1)  # raises TypeError

The third function **kwd_only_args only allows keyword arguments** as indicated by a 👉* in the function definition:

def kwd_only_arg(3)  # raises TypeError

def kwd_only_arg(arg=3)  # works

And **the last uses all three calling conventions in the same function** definition:

combined_example(1, 2, 3)  # raises TypeError

combined_example(1, 2, kwd_only=3)  # works

combined_example(1, standard=2, kwd_only=3)  # works

combined_example(pos_only=1, standard=2, kwd_only=3)  # raises TypeError

In [27]:
# Consider this function definition which has a potential conflict 
# between the positional argument name and **kwds which has name as a key:
def foo(name, **kwds):
    return 'name' in kwds

# There is no possible call that will make it return True 
# as the keyword 'name' will always to bind to the first parameter. For example:

foo(1, **{'name': 2})  # TypeError: foo() got multiple values for argument 'name'

TypeError: ignored

In [1]:
# But using 👉/ (positional only arguments), it is possible since it allows 
# name as a positional argument and 'name' as a key in the keyword arguments:
def foo(name, / , **kwds):
    return 'name' in kwds

foo(1, **{'name': 2})

# In other words, the names of positional-only parameters can be used in **kwds without ambiguity.

True

In [2]:
# task: Let's have a farm that is sufficient for up to 3 animal species. 
# we need to pass the animal species you want to have on this farm into my_function.
def my_function(*iterable):  # which animal species will be on this farm?
    for variable in iterable:
        if len(iterable)<=3:
            print(variable)
        else :
            print("insufficient for more than three species")
            break

my_function('cows', 'horses', 'pigs')
print()
my_function('cows', 'horses', 'pigs', 'chickens')

cows
horses
pigs

insufficient for more than three species

In [44]:
# Bu soruda yaptığım hatalar: While döngüsünde whle i <len(lst1"), new_lst.append(lst1[i]) vesaire
# hep lst1 kullandım. bu nedenle de fonksiyonum sadece lst1 icin gecerli oldu.
# bir alt hücreye aaa = [1,2,3,4,5,6,0,7] listesi yaptım name_adder diye print edince yine joe sarah vs vs verdi
# dolayısıyla fonksiyon tanimlarken kalıcılığa dikkat.

lst1=["Joe", "Sarah", "Mike", "Jess", "", "Matt", "", "Greg"]

new_list = []
def name_adder(whatever):
    
    i = 0
    while i < len(whatever):
        if whatever[i]:
            new_list.append(whatever[i])
        i += 1
    return new_list

name_adder(lst1)

['Joe', 'Sarah', 'Mike', 'Jess', 'Matt', 'Greg']

In [ ]:
lst1=["Joe", "Sarah", "Mike", "Jess", "", "Matt", "", "Greg"]
def name_adder(whatever):

In [1]:
def thedecim(number):
    return number - int(number) if number - int(number) else "integer"
thedecim(5.89)

0.8899999999999997

In [13]:
# verilen sayının factoryelini bul
def my_fact(n):
    factorial = 1

    for i in range(1, n+1):
        factorial *= i
    return factorial

    if i == 0 and i == 1:
        return 1

my_fact(5)

120

In [14]:
# verilen integerların toplamını bulacak my_sum isimli bir fonksyion yaz
def my_sum(*n):
    total = 0
    for i in n:
        total += i
    return total

my_sum(10, -20, 30, 40)

60

In [15]:
# my_min isimli bir fonksyion tanimla ve verilen sayıların minimumunu bul
def my_min(*n):
    for i in n:
        return min(n)
my_min(3,8,-9,0,12,1.2)

-9

In [16]:
# Clarusway stringini ylaruswaC yapan bir fonksiyon tanımla. ilk ve son harfi değiştiren.


def front_back(word):
    front = word[0]
    back = word[-1]
    front_back = back + word[1:-1] + front
    if len(word) > 1:
        return front_back
    else:
        return back+front

front_back("clarusway")

'ylaruswac'

In [17]:
word = "koku"
def front_back(word):
    for i in word:
        word_list = list(word)
        word_list[0], word_list[-1] = word_list[-1], word_list[0]
        new_word = ("").join(word_list)
        return new_word
    
front_back(word)

'uokk'