**Built-in Functions**

In the latest version of Python there are 71 built-in functions: 

- **Some of them return bool type according to the conditional algorithm in it.** For example; all(iterable), any(iterable), and callable(object).

- **Some of them help you convert data types into each other**. For example; bool(), float(), int(), and str().

- **Some others allow you to create and process the collection types**. Such as : dict(), list(), tuple(), set(), len(), frozenset(), zip(), filter(function, iterable), and enumerate(iterable).

- **Some others tackle numbers**. Such as : max(), min(), sum(), and round().

- **The others are built for special purposes. They do some complicated implementations**. For example : map(function, iterable, ...), eval(expression[, globals[, locals]]), sorted(iterable), open(), dir([object]), hash(), and help([object]).

**all()**

The all() function returns True if all items in an iterable are true, otherwise it returns False.

If the iterable object is empty, the all() function also returns True.

syntax: **all(iterable)**

In [2]:
# Empty iterable returns true. for ex. empty = {}
liste = ["a", "b", "c"]
all(liste)

True

In [3]:
mytuple = (0, True, False)
x = all(mytuple)
print(x)
mydict = {0 : "Apple", 1 : "Orange"}
x = all(mydict)
print(x)
myset = {0, 1, 0}
x = all(myset)
print(x)

False
False
False

**any()**

The any() function returns True if any item in an iterable are true, otherwise it returns False.

If the iterable object is empty, the any() function will return False.

In [4]:
mytuple = (0, 1, False)
x = any(mytuple)
print(x)
mydict = {0 : "Apple", 1 : "Orange"}
x = any(mydict)
print(x)
myset = {0, 1, 0}
x = any(myset)
print(x)

True
True
True

**filter()**

The filter() function extracts elements from an iterable (list, tuple etc.) for which a function returns True.

syntax : filter(function, iterable)

The filter() function takes two arguments:

function - a function
iterable - an iterable like sets, lists, tuples etc.

You can easily convert iterators to sequences like lists, tuples, strings etc.

In [5]:
listA = ["susan", "tom", False, 0, "0"]
filter(None, listA)  # böyle çalıştırınca on the air object oluşturur
filtered_list = filter(None, listA)
print("the filtered elements are : ")
for i in filtered_list:
  print(i)

the filtered elements are :
susan
tom
0

In [1]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# returns True if number is even
def check_even(number):
    if number % 2 == 0:
          return True  
    return False

# Extract elements from the numbers list for which check_even() returns True
even_numbers_iterator = filter(check_even, numbers)

# converting to list
even_numbers = list(even_numbers_iterator)

print(even_numbers)

def check_odd(number):
  if number%2 == 1:
    return True
  return False

odd_numbers_iterator = filter(check_odd, numbers)
odd_numbers = list(odd_numbers_iterator)
print(odd_numbers)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

**If you use the None as a function argument,** the filter method will **remove any element from the iterable that it considers to be false**. Some examples of such elements are empty strings, 0, empty braces, boolean False, etc. Let’s check out the below example.

In [3]:
# sadece true olanları filtreleyin

my_list = [5, -23, "", True, False, 0, 0.0, {}, []]

filtered_object = filter(None, my_list)

for element in filtered_object:
    print(element, end = " ")

5 -23 True

In [27]:
# Task: filter out the names of books that are costlier than 500.

books = [

   {"Title":"Angels and Demons", "Author":"Dan Brown", "Price":500},

   {"Title":"Gone Girl", "Author":"Gillian Flynn", "Price":730},

   {"Title":"The Silent Patient", "Author":"Alex Michaelidis", "Price":945},

   {"Title":"Before I Go To Sleep", "Author":"S.J Watson", "Price":400}

   ]

def func(book):
    if book["Price"] > 500:
        return True
    else:
        return False

filtered_object = filter(func, books)
for i in filtered_object:
    print(i["Title"])

[{'Title': 'Gone Girl', 'Author': 'Gillian Flynn', 'Price': 730}, {'Title': 'The Silent Patient', 'Author': 'Alex Michaelidis', 'Price': 945}]

In [25]:
books = [

   {"Title":"Angels and Demons", "Author":"Dan Brown", "Price":500},

   {"Title":"Gone Girl", "Author":"Gillian Flynn", "Price":730},

   {"Title":"The Silent Patient", "Author":"Alex Michaelidis", "Price":945},

   {"Title":"Before I Go To Sleep", "Author":"S.J Watson", "Price":400}

   ]
def price_func(book):
    for i in range(len(book)):
        if book["Price"] > 500:
            return book["Title"]
price_func(books)

TypeError: list indices must be integers or slices, not str

**ENUMERATE()**

Often, when dealing with iterators, we also get need to keep a count of iterations. Python eases the programmers’ task by providing a built-in function enumerate() for this task. Enumerate() method adds a counter to an iterable and returns it in a form of enumerating object. This enumerated object can then be used directly for loops or converted into a list of tuples using the list() method.

Syntax: 

**enumerate(iterable, start=0)**

**Parameters:**

Iterable: any object that supports iteration
Start: the index value from which the counter is to be started, by default it is 0

In [37]:
names = ["ali", "veli", "deli"]
print(list(enumerate(names)))  # namesden sonra , 5 yazarsak 5ten başlara numaralandırmaya

[(0, 'ali'), (1, 'veli'), (2, 'deli')]

In [35]:
# bu yukardakinin klasik uzun yolu
names = ["ali", "veli", "deli"]
sayac = 0
liste= []
for i in names:
    liste.append((sayac, i))
    sayac += 1
print(liste)

[(0, 'ali'), (1, 'veli'), (2, 'deli')]

In [7]:
l1 = ["eat", "sleep", "repeat"]
s1 = "geek"
  
# creating enumerate objects
obj1 = enumerate(l1)
obj2 = enumerate(s1)
  
print ("Return type:", type(obj1))
print (list(enumerate(l1)))
  
# changing start index to 2 from 0
print (list(enumerate(s1, 2)))

Return type: <class 'enumerate'>
[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]
[(2, 'g'), (3, 'e'), (4, 'e'), (5, 'k')]

In [8]:
l1 = ["eat", "sleep", "repeat"]
  
# printing the tuples in object directly
for ele in enumerate(l1):
    print (ele)
  
# changing index and printing separately
for count, ele in enumerate(l1, 100):
    print (count, ele)
  
# getting desired output from tuple
for count, ele in enumerate(l1):
    print(count)
    print(ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')
100 eat
101 sleep
102 repeat
0
eat
1
sleep
2
repeat

In [2]:
# DİCTe DE CEVİREBİLİRİZ
l1 = ["eat", "sleep", "repeat"]
aaa = dict(enumerate(l1))
print(aaa)

{0: 'eat', 1: 'sleep', 2: 'repeat'}

In [3]:
numbers_text = ["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
# numbers = [0,1,2,3,4,5,6,7,8,9] 

enum = dict(enumerate(numbers_text))
print(enum)

{0: 'zero', 1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 7: 'seven', 8: 'eight', 9: 'nine'}

# MAX() VE MIN()
Max() listedeki mx, min() min degerli valueyu verir.

In [51]:
aaa = [16, -222, 8, 21, -14, True]
print(max(aaa))
print(min([16, -222, 8, 21, -14, True]))  # böyle de çalışır
print(min(aaa))

21
-222
-222

In [50]:
print(min("karagoz"))  # ascii koduna gore yapar harflerde
print(ord("a"))
print(ord("z"))
print(max("karagoz"))

a
97
122
z

**SUM()**

inbuilt function sum() sums up the numbers in the list. 

Syntax: sum(iterable, start)  

iterable : iterable can be anything list , tuples or dictionaries ,but most importantly it should be numbers.
 
start : this start is added to the sum of numbers in the iterable. If start is not given in the syntax , it is assumed to be 0.

FOR LOOP ILE TOPLAMA YERINE BU COK DAHA KOLAY

In [54]:
numbers = [2.5,1,2,3,4,5,1,4,5]
 
# start parameter is not provided
Sum = sum(numbers)
print(Sum)
 
# start = 10
Sum = sum(numbers, 10)
print(Sum)

27.5
37.5

In [64]:
# 1den 20ye sayıları toplayın

total = 0
for i in range(1,20):
    if i%2:
        total += i
print(total)

aaa = sum([i for i in range(1,20) if i%2 == 1])
print(aaa)

bbb = sum(list(range(1,20)))
print(bbb)

100
100
190

In [57]:
sum(1,2,3,4,5)  # içine iterable alır, bunu toplamaz. TypeError: sum() takes at most 2 arguments (5 given)
# 2 sayı yazınca da TypeError: 'int' object is not iterable
# ama bunları liste icinde alırsak toplar

TypeError: sum() takes at most 2 arguments (5 given)

# **ROUND(numbers, ndigits)*

numaraları yuvarlar. optional olarak ndigits, yani decimalden sonra kac basamak istedigimizi yazabiliriz.

In [60]:
print(round(12))
print(round(10.8))
print(round(3.665, 2))
print(round(3.675, 2))  # aslinda bu 3.674999 oldugu icin 67ye yuvarlar.

12
11
3.67
3.67

**ABS() : ABSOLUTE VALUE FUNCTION**

abs() returns the absolute value of a number.

In [1]:
x = abs(-7.25)
print(x)

7.25

In [2]:
def absolute_value(a):
    return abs(a)
print(absolute_value(3.3))
print(absolute_value(-4))

3.3
4

**GENERATOR COMPREHENSION**

Iterator oluşturmanın basit bir yoludur. Orn range(). Generators, icindeki degerler cagrildikca ortaya çıkarıyorlar. 

bie generatoru cagirmanin 3 yolu : list, *, for loop

In [9]:
[i**2 for i in range(6)]  # list comp yontemi ile list oluşturma

[0, 1, 4, 9, 16, 25]

In [11]:
(i**2 for i in range(6))  #tuple comprehensionda generator objectin adresini verir. gorunur yapmak icin yollar var.
# generator variable yapip list ile * ile vb gorunur yapabiliriz.
generator = (i**2 for i in range(6))
list(generator)

[0, 1, 4, 9, 16, 25]

In [14]:
print(*generator)  # birşey cikmaz burdan. cunku bir üstte icini bosalttik. yine yükleyelim:
generator = (i**2 for i in range(6))  # bu sefer for döngüsüne sokalım
for i in generator:
    print(i, end=" ")

0 1 4 9 16 25

In [15]:
# yine doldurmamız lazım simdi
generator = (i**2 for i in range(6))
generator

In [16]:
# next() ile bakalım nasıl çalıştığına
print(next(generator))  # ilk tiklama ilk elemanı döndürür. tıkladıkça sırayla dğerler döner. Loopların çalışma mantığı bu, arka planda next()

0

In [17]:
list(generator)  # yukarıda sıfırı zaten çalıştırdığı için burda açınca 0 hariç diğerleri gelr. ben tekrar çalıştırınca 1,2,3,4,5 gitti.
# stop iteratoru çalıştı ve boş liste çıktı

[]

In [27]:
aaa = ((i, i**2, i**3)  for i in range(10))  #for döngüsünün her iterayonunda bir tuple üretecek
aaa

In [28]:
for item in aaa:
    print(item)

(0, 0, 0)
(1, 1, 1)
(2, 4, 8)
(3, 9, 27)
(4, 16, 64)
(5, 25, 125)
(6, 36, 216)
(7, 49, 343)
(8, 64, 512)
(9, 81, 729)

In [29]:
generate = (("apple" if i < 3 else "pie") for i in range(6))
generate

In [30]:
print(* generate)

apple apple apple pie pie pie

In [3]:
# cumle stringinde a ile baslayan kelimeleri sayan bir fonk kodla.

cumle = "Oranges and loaf St. Clement's. You owe me three farthings, Say the bells of St. Martin's"

listem = cumle.lower().split()
print(listem)


def finder(a):
    i=0
    count= 0
    while i < len(a):
        
        if a[i].startswith("a"):
            count = count+1
        i += 1
    return count
finder(listem)

['oranges', 'and', 'loaf', 'st.', "clement's.", 'you', 'owe', 'me', 'three', 'farthings,', 'say', 'the', 'bells', 'of', 'st.', "martin's"]

1

In [10]:
cumle = "Oranges and loaf St. Clement's. You owe me three farthings, Say the bells of St. Martin's"

listem = cumle.lower().split()
print(listem)

def lst1(a):
    c=0
    for i in range(len(a)):
        if a[i].startswith("a"):
            c+=1
        else:
            pass
    return c
lst1(listem)

['oranges', 'and', 'loaf', 'st.', "clement's.", 'you', 'owe', 'me', 'three', 'farthings,', 'say', 'the', 'bells', 'of', 'st.', "martin's"]

1