**COLLECTIONS**

Collections in Python are **containers that are used to store collections of data**, for example, **list, dict, arrays, set, tuple** etc. These are built-in collections. They allow us to store and access values in a convenient way.

There are various collection types in Python. While types such as int and str hold a single value, collection types **hold multiple values**. we use collections **to group several items to render as a single object**.

**LISTS**

**One of the most useful and most used collection type in Python is list. In Python, a list is only an ordered collection** of valid Python values. In spite of its name, a list is more like an array in some other languages (e.g. JavaScript).

A list can be created by enclosing values, separated by commas, in square brackets üëâüèª[].

In [ ]:
countries = ['USA', 'Turkey', 'Germany']
print(countries)
# All the country names are printed in the same order as they were stored in the list because lists are ordered.

['USA', 'Turkey', 'Germany']

Another way to create a list is to call the 'list()' function.

You do this when you want to create a list from an **iterable object**: that is, type of object whose elements you can import individually. The lists are iterable like other collections and string types. Let's create another list using list() function and compare with üëâüèª'[]'.

In [ ]:
# list(1234) mesela bunu calistirsak error verir. cunku int iterable object deƒüildir.
# len(1234)  bu da error verir mesela. int object has no len.

In [ ]:
string_1 = 'I learned some new things about Python'
new_list_1 = list(string_1)  # we created multi element list
print(new_list_1)

new_list_2 = [string_1]  # this is a single element list
print(new_list_2)

# Using list() function, all characters of string_1 including spaces was moved into a new_list_1.
# Notice that lists can contain more than one of the same value.

['I', ' ', 'l', 'e', 'a', 'r', 'n', 'e', 'd', ' ', 's', 'o', 'm', 'e', ' ', 'n', 'e', 'w', ' ', 't', 'h', 'i', 'n', 'g', 's', ' ', 'a', 'b', 'o', 'u', 't', ' ', 'P', 'y', 't', 'h', 'o', 'n']
['I learned some new things about Python']

The components of a list are not limited to a single data type, given that Python is a dynamic language: e.g.

mixed_list = [11, 'Joseph', False, 3.14, None, [1, 2, 3]]

As in this example above, one or more of the list elements can even be a list.

In [ ]:
list_students = ["Ali", "veli", "mehmet", "ahmet"]
print(list_students)
students = "Ali", "Veli", "Mehmet", "ahmet"  # hepsi ayrƒ± ayrƒ± stringler. harf harf ayƒ±rmaz. 
aaaa = list(list_students)  # zaten list ise ve onu list yapƒ±yorsak elementlere ayƒ±rmaz. aynen bir list yapar.
print(aaaa)
students_list = list(students)
print(students_list)
participants = "Ali, Veli, Mehmet, Ahmet"
print(list(participants))  # list() methodu t√ºm karakterleri ayrƒ± ayrƒ± listeledi
print([participants])  # [] square brackets stringi tek bir list √∂gesi yaptƒ±. single element list

['Ali', 'veli', 'mehmet', 'ahmet']
['Ali', 'veli', 'mehmet', 'ahmet']
['Ali', 'Veli', 'Mehmet', 'ahmet']
['A', 'l', 'i', ',', ' ', 'V', 'e', 'l', 'i', ',', ' ', 'M', 'e', 'h', 'm', 'e', 't', ',', ' ', 'A', 'h', 'm', 'e', 't']
['Ali, Veli, Mehmet, Ahmet']

In [ ]:
aaa = "2020's hard"
print(list(aaa))
print([aaa])

['2', '0', '2', '0', "'", 's', ' ', 'h', 'a', 'r', 'd']
["2020's hard"]

In [ ]:
len([[[" ", 2, 3]]])

1

In [ ]:
type(None)

NoneType

In [ ]:
warning = 'You must quit smoking!'
print(len(list(warning)))  # araya a√ßtƒ±ƒüƒ± spaceler yeni karakter sayƒ±lmaz. len(warning) kac ise odur.
print(list(warning))
print(len(warning))

22
['Y', 'o', 'u', ' ', 'm', 'u', 's', 't', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g', '!']
22

**Basic Operations with Lists**

In most cases, we'll have to make an empty list to fill it later with the data we want (fe: empty_list1 = [ ] or empty_list2 = list() ).

We can add an element into a list using .append() or .insert() methods.

**.append()** : Append an object to end of a list. Using only list.append(element) syntax, returns none. If you want to see the new appended list, you have to call or print it. 

**.insert()** : Add a new object to list at a speciÔ¨Åc index. The syntax looks like list.insert(index, object). (Elements of a list are counted from left to right and start with zero as in string types.)

In [ ]:
empty_list1 = []
empty_list2 = list()
print(len(empty_list1), empty_list1, len(empty_list2), empty_list2)

0 [] 0 []

In [ ]:
listem = []
listem.append(11)  # tam burada print birsey return etmez. print deyince ya da asagi listem yazip call ederek

In [ ]:
print(listem)  # yukarƒ±yƒ± bir daha calistirirsam buraya bir on bir daha ekler. olmadƒ±???

[11]

In [ ]:
empty_list1.append('114')
empty_list1.append('plastic-free sea')
print(empty_list1)  # append en sona ekler direkt

['114', 'plastic-free sea']

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
city.append('Addis Ababa')
print(city)

# insert ise istediƒüin bir indekse ekler

city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city.insert(2, 'Stockholm')  # let's insert it as the 2nd index in the list
print(city)
city.insert(5, 'Berlin')  # Berlin index 5 olur
print(city)
city.append("Paris")
print(city)

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Berlin', 'Sydney', 'Addis Ababa']
['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Berlin', 'Sydney', 'Addis Ababa', 'Paris']

In [ ]:
# task: 6000'den sonra 7000 ekle
aaa = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
aaa[2][2].append(7000)
print(aaa)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
aaa = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
aaa[2][2] = 5000, 6000, 7000  # bu tuple unpacking. tuple olarak ekler.
print(aaa)

[10, 20, [300, 400, (5000, 6000, 7000), 500], 30, 40]

We can remove the elements in lists using **list.remove()** method or sort the elements using **list.sort()** method. (farklƒ± veri tipleri aynƒ± listedeyse onlar sort edilemez, error verir: The items to be sorted in a list should be the same type)

In [ ]:
city = ['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Berlin', 'Sydney', 'Addis Ababa', 'Paris']
city.remove('Seoul')
print(city)

['New York', 'London', 'Stockholm', 'Istanbul', 'Berlin', 'Sydney', 'Addis Ababa', 'Paris']

print(city.remove(3)) **error** verir. Yani index numarasƒ±nƒ± yazƒ±p bir elementi remove edemeyiz. bunu yapabilemek i√ßin remove deƒüil **list.pop()** methodu kullanƒ±lƒ±r. (ya da del keywordu ile. a≈üaƒüƒ±da detaylƒ±)

In [ ]:
city.pop(3)  # mesela yukarƒ±daki list'ten ƒ∞stanbul'u √ßƒ±karalƒ±m.
print(city)

['New York', 'London', 'Stockholm', 'Berlin', 'Sydney', 'Addis Ababa', 'Paris']

In [ ]:
city = ['New York', 'London', 'Stockholm', 'Istanbul', 'Seoul', 'Berlin', 'Sydney', 'Addis Ababa', 'Paris']
city.sort()
print(city)  # lists the items in alphabetical order

['Addis Ababa', 'Berlin', 'Istanbul', 'London', 'New York', 'Paris', 'Seoul', 'Stockholm', 'Sydney']

In [ ]:
yeni = [3,5,3,4,7,9]
yeni.sort()  # bu a≈üamada print(yeni.sort()) dersek none return eder. hafƒ±zaya alƒ±yor. asagidaki gibi yapmalƒ±.
print(yeni)

[3, 3, 4, 5, 7, 9]

**reverse deƒüeri var bir de. default olarak false o. eger true yaparsak o zaman tersten verir**.

In [ ]:
yeni.sort(reverse = True)
print(yeni)

[9, 7, 5, 4, 3, 3]

In [ ]:
# Q: Create a list which consists of int numbers from 1 to 10 using range() function. 
# Sort the numbers of the list in descending order and print the result.
my_list = list(range(1,11))
my_list.sort(reverse = True)
print(my_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
list3 = [True, False, not False]
print(len(list3))
list3.sort()  # False 0 True 1 ona g√∂re sƒ±ralar.
print(list3)

3
[False, True, True]

In [ ]:
list4 = [[3], [44], [-12]]  # sayƒ± doƒürusunda negatif sayƒ±lar daha √∂ndedir
list4.sort()
print(list4)

list5 = [[1, 3], [44, -40], [-12, 1]]  # ilk elemanlara g√∂re yapar sƒ±ralamayƒ±.
list5.sort()
print(list5)

[[-12], [3], [44]]
[[-12, 1], [1, 3], [44, -40]]

The length of the list elements can be calculated with the **len()** function.

In [ ]:
print(len(city))

8

In [ ]:
my_list = [1, 3, 5, 7]
print(my_list * 3)

[1, 3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7]

**!!!**: len fonksiyonunu sadece index no ile kullanmak zorunda deƒüiliz. Variable ile de kullanabiliriz.

In [ ]:
# Task: kullanƒ±cƒ±nƒ±n gireceƒüi rakam kadar sondan element ba≈üa alƒ±nsƒ±n
liste = [1, 2, 3, 4, 5, 6]
rotate_no = int(input('Enter a number for rotation: '))
print(liste[(len(liste)-rotate_no)::])
print(liste[:(len(liste)-rotate_no)])
print((liste[(len(liste)-rotate_no)::]) + (liste[:(len(liste)-rotate_no)]))

Enter a number for rotation: 3
[4, 5, 6]
[1, 2, 3]
[4, 5, 6, 1, 2, 3]

One of the important operations of the lists is **assigning an element to the specific index number**.

UNUTMA: **Eger indexleme varsa hep k√∂≈üeli parantez kullanƒ±lƒ±r.** **Sadece iterablelar indexlenebilir.**

In [ ]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city[1] = 'Melbourne'  # we assign 'Melbourne' to index 1. Stockholm'u kaldƒ±rƒ±p onu koyar yerine
print(city)

['New York', 'Melbourne', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

In [ ]:
city = ['New York', 'Stockholm', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']
city[1] = 'Sydney'  # 4 numaradaki sydney de kalƒ±r. aynƒ± value list'te birden fazla olabilir.
print(city)

['New York', 'Sydney', 'Istanbul', 'Seoul', 'Sydney', 'Addis Ababa']

**del keyword, pop(), remove() and index() methods**

The del keyword delete any variable, list of values from a list. Syntax:

**del list_name[index]** : To delete single value

**del list_name**       : To delete whole list

The remove() method **removes the first matching value** from the list. Syntax: list_name.remove(value)

The pop() method like del deletes value at a particular index. But pop() method returns deleted value from the list. Syntax: 
list_name.pop(index). Eƒüer bir deƒüer yazmazsak default olarak -1i yani son indexi cikarir ve return eder.

In [ ]:
numbers = [1, 2, 3, 2, 3, 4, 5]
del numbers[2]  # index2'yi yani 3√º (single value del) siler
print(numbers)
del numbers[0:2]  # ilk ikisini siler (3 zaten bir √ºstteki i≈ülemde listeden √ßƒ±ktƒ±) 
print(numbers)
del numbers[-1]  # sonuncuyu siler
print(numbers)
del numbers  # bunu yaptƒ±ktan sonra a≈üaƒüƒ±da tekrar print(numbers) dersek numbers
# variable nor defined der, silindi √ß√ºnk√º.

[1, 2, 2, 3, 4, 5]
[2, 3, 4, 5]
[2, 3, 4]

In [ ]:
numbers = [1, 2, 3, 2, 3, 4, 5] 
print(numbers.pop(2))  # print edersek sildiƒüi valueyu return eder.
print(numbers)  # del gibi.index 2deki 3√º sildi.
# del bir keyword, [] ile; pop bir method, () ile kullanƒ±lƒ±r.

3
[1, 2, 2, 3, 4, 5]

In [ ]:
[1, 2, 3, 2, 3, 4, 5][3]  # b√∂yle de index getirebiliriz. list name yerine listeyi yazarak direkt.

2

**list_name[x] = y komutu listedeki xleri y ile deƒüi≈ütirir.**

In [ ]:
numbers = [1, 2, 3, 2, 4, 5] 
numbers[4] = 13  # mesela 4 leri 13 ile deƒüi≈ütirelim. 4√º siler yerine 13 atar
print(numbers)
numbers[1] = 13  # 2yi siler yerine 13 atar
print(numbers)

[1, 2, 3, 2, 13, 5]
[1, 13, 3, 2, 13, 5]

**list_name.reverse() reverses the items of list in place**

**Task**: string = "bu.ak≈üam.python.dersi.var" stringini ['var', 'dersi', 'python', 'ak≈üam', 'bu'] haline getirelim:

In [ ]:
string = "bu.ak≈üam.python.dersi.var"
list_string = string.split(".")  # noktalardan elementler split et. (Split lste cevirir)
list_string.reverse()  
print(list_string)
# geri string haline getibiliriz:
re_string = ".".join(list_string)  # Join fonksiyonu list'i belirtilen elementle birle≈ütirip string yapar
print(re_string)
print(type(string), type(list_string), type(re_string))

['var', 'dersi', 'python', 'ak≈üam', 'bu']
var.dersi.python.ak≈üam.bu
<class 'str'> <class 'list'> <class 'str'>

In [ ]:
# A≈üaƒüƒ±daki liste i√ßerisindeki her bir listeyi tersine √ßevirecek bir program yazƒ±nƒ±z.
liste = [[1, 2, 3, 4, 5], [6, 7, 8, 9], [10, 11, 12, 13], [14, 15, 16, 17]]
print(liste[0][::-1], liste[1][::-1],liste[2][::-1],liste[3][::-1])  # her birinin ba≈üƒ±na liste yazmaya dikkat

[5, 4, 3, 2, 1] [9, 8, 7, 6] [13, 12, 11, 10] [17, 16, 15, 14]

In [ ]:
liste = [[1, 2, 3, 4, 5], [6, 7, 8, 9], [10, 11, 12, 13], [14, 15, 16, 17]]
liste[0].reverse()  # bunun yerine liste[0].sort(reverse = True) yazarsak da aynƒ± sonu√ß
liste[1].reverse()
liste[2].reverse()
liste[3].reverse()
print(liste)

[[5, 4, 3, 2, 1], [9, 8, 7, 6], [13, 12, 11, 10], [17, 16, 15, 14]]

In [ ]:
liste = [[1, 2, 3, 4, 5], [6, 7, 8, 9], [10, 11, 12, 13], [14, 15, 16, 17]]
for i in liste:
  i.reverse()
print(liste)

[[5, 4, 3, 2, 1], [9, 8, 7, 6], [13, 12, 11, 10], [17, 16, 15, 14]]

In [ ]:
liste = [[1, 2, 3, 4, 5], [6, 7, 8, 9], [10, 11, 12, 13], [14, 15, 16, 17]]
for i in liste:
  i.reverse()
  print(liste)

[[5, 4, 3, 2, 1], [6, 7, 8, 9], [10, 11, 12, 13], [14, 15, 16, 17]]
[[5, 4, 3, 2, 1], [9, 8, 7, 6], [10, 11, 12, 13], [14, 15, 16, 17]]
[[5, 4, 3, 2, 1], [9, 8, 7, 6], [13, 12, 11, 10], [14, 15, 16, 17]]
[[5, 4, 3, 2, 1], [9, 8, 7, 6], [13, 12, 11, 10], [17, 16, 15, 14]]

**list_name.clear()** removes all items from the list (same as del s[:])

In [ ]:
# del list_name t√ºm listeyi yok ederi bunun yerine liste kalsƒ±n ama i√ßi temizlensin diyorsak list_name.clear[]
numbers = [1, 2, 3, 2, 3, 4, 5]  
numbers.clear()
print(numbers)  # hepsini temizledi

[]

**list_name1.extend(list_name2) or list_name1 += list_name2** extends list_name1 with the contents of list_name2

In [ ]:
numbers = [1, 2, 3, 2, 3, 4, 5]
amounts = [10, 20, 30, 40]
numbers.extend(amounts)
print(numbers)

numbers += amounts
print(numbers)

[1, 2, 3, 2, 3, 4, 5, 10, 20, 30, 40]
[1, 2, 3, 2, 3, 4, 5, 10, 20, 30, 40, 10, 20, 30, 40]

In [ ]:
L1 = []
L1.append([1, [2, 3], 4])
print(L1)
L1.extend([7, 8, 9])
print(L1)
print(L1[0][1][1] + L1[2])

[[1, [2, 3], 4]]
[[1, [2, 3], 4], 7, 8, 9]
11

In [ ]:
T = (1, 2, 3, 4, 5, 6, 7, 8)
print(T[T.index(5)], end = " ")  # 5 rakamƒ±nƒ±n hangi idndexte oldugunu getirir index().4te o. T'nin 4√º de5
print(T[T[T[6]-3]-6])

5 8

In [ ]:
D = {1 : 1, 2 : '2', '1' : 1, '2' : 3}
D['1'] = 2
print(D[D[D[str(D[1])]]])

3

**ACCESSING LISTS**

Each item or element in a list, as well as every character in a string, has an index corresponding to their location. Using indexes, we can access elements within a sequence.

**Indexing a list**

If we want to access or use the elements of a list, we can do that using index numbers of the list enclosed by square brackets.

In [ ]:
participants = ["John", "Jason", "Jim", "Dennis", "Julian", "Jan"]
print(participants[3])  # index 3'√º getirir
print(participants[0] [0])  # 0. indexin sƒ±fƒ±rƒ±ncƒ± indexi

attendants = []  # b√∂yle bir bo≈ü list olu≈üturduk. bunu participants list ile append edelim
attendants.append(participants)  # new list has 2 [[]].. this means we created a nested (i√ßi√ße yuvalanmƒ±≈ü) list
print(attendants) # How many elements does attendants list have? A: only 1. it's the participants list.
print(len(attendants)) 
print(attendants[0])

Dennis
J
[['John', 'Jason', 'Jim', 'Dennis', 'Julian', 'Jan']]
1
['John', 'Jason', 'Jim', 'Dennis', 'Julian', 'Jan']

In [ ]:
print(len([[12, 34, 56],[0]]))
aaaaa = [[12, 34, 56][0]]
print(aaaaa)  # ilk listenin 0. indexini getirir. c√ºnk√º arada virg√ºl yok.
aaaaa = [[12, 34, 56],[0,1]]  # virg√ºl olunca onu da bir list olarak alƒ±r
print(aaaaa)

2
[12]
[[12, 34, 56], [0, 1]]

In [ ]:
print(len([[1, 2, 3]] [0]))  
# arada comma olmamasƒ±na dikkat. bu indexin sifirinci elemaninin uzunluƒüunu soruyor, 3 elementli o da.

3

In [ ]:
x = "anadolu"
list(x)
print(list(x))
print(len(list(x)))
y = [1, 2, 3, [1,2], [1,2,3], [123], "[1,2,3]", ["1,2,3"]]
y.append(list(x))
print(y)
print(len(y))

['a', 'n', 'a', 'd', 'o', 'l', 'u']
7
[1, 2, 3, [1, 2], [1, 2, 3], [123], '[1,2,3]', ['1,2,3'], ['a', 'n', 'a', 'd', 'o', 'l', 'u']]
9

In [ ]:
attendants = [['John', 'Jason', 'Jim', 'Dennis', 'Julian', 'Jan']]
print(attendants[0][2]) # Attendants is a list type data. So that, we can still access its elements via indexing.
# Eƒüer sadece print(attendants[2] deseydim error verirdi. ama bu o nolu indexin 2. elementini getir demek)
print(attendants[0][3])
print(attendants[0][3][0:3])
# bir ba≈üka √∂rnek:
participants = ["John", "Jason", "Jim", "Dennis", "Julian", "Jan"]
print(participants[3])  # index 3'√º getirir
print(participants[0] [0])  # ilk indexin ilk indexini getirir. bu outputtak harf stringdir unutma.

Jim
Dennis
Den
Dennis
J

In [ ]:
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']
fruit_list = []
fruit_list.insert(0, fruits)
print(fruit_list)
print(fruit_list[0][2][7])  # 0. fruits, onun 2si watermelon ve onun 7si l

[['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']]
l

In [ ]:
# Select and print the vegetables from the following list using indexing and slicing methods. 
# Note that, except from the given list (grocer), your program must consist of a single line of code. 
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]
print(grocer[1][1][1::2])

['eggplant', 'spinach', 'leek']

In [ ]:
# Considering the following flowers and colors lists, write the program using .format() 
# and list indexing methods that will print out the text below. 
# text = "My two favorite flowers are tulip and rose, two favorite colors are blue and green."
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
print(flowers[0][2])
print(flowers[0][1][1])
print(colors[1][0])
print(colors[1][1][1])
text = "My two favorite flowers are {0} and {1}, two favorite colors are {2} and {3}.".format(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1])
print(text)

tulip
rose
blue
green
My two favorite flowers are tulip and rose, two favorite colors are blue and green.

**Slicing a List**

We can access individual elements of a list, as well as part of those items. We use index numbers again for slicing. Slicing is just similar to indexing. The **difference is adding colon or colons in square brackets.**Formula syntax for slicing:

**The formula syntax is** : sequence[start:stop:step]

This formula produces a slice of the sequence where start is an index of the first element required (the element is included in the slice) and stop is an index of the end element (the element is not included in the slice), step is an interval between elements to be chosen.

hangi tip veriyi slicelƒ±yorsan elde ettiƒüin slice da o tip olur. Str ise str, list ise list, tuple ise tuple...

In [ ]:
# create a list from 0 to 10 and print the even numbers.
count = list(range(11)) # range liste olu≈üturur. () i√ßindeki sayƒ± kadar index olu≈ütrurur.
# range() function returns an object that produces a sequence of integers 
# from start (including) to stop (excluding) by step.
# The formula syntax is : range(start, stop[, step])
print(count)
print(count[0:11:2])
# bu soyle de yapilabilir
print(list(range(0,11,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]
[0, 2, 4, 6, 8, 10]

In [ ]:
# range ile ilgili bir √∂rnek:
od=list(range(1,100,3))
print(od)
print(od[1::2])

print(list(range(11, 0, -1)))  # ters gideceƒüi i√ßin start stopta 11 ve 0 yer deƒüi≈ütirmeli.

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97]
[4, 10, 16, 22, 28, 34, 40, 46, 52, 58, 64, 70, 76, 82, 88, 94]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Each part of the slice has a default value, so they are optional. If we don't assign a value to the start index, it is considered to be 0; if we don't assign a value to the stop index, it will be the same as the length of the sequence.

my_list[:]: returns the full copy of the sequence

my_list[start:] : returns elements from start to the end element

my_list[:stop] : returns element from the 1st element to stop-1

my_list[::step] : returns each element with a given step

In [ ]:
animals = ['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
print(animals[:])  # all elements of the list
print(animals[3:])  # this slices the list from 3rd element to the end(stop -1)
print(animals[:5])  # slices the list from index=0 to the index=4
print(animals[::2])  # slices the list from index 0 to the end with 2 step

['elephant', 'bear', 'fox', 'wolf', 'rabbit', 'deer', 'giraffe']
['wolf', 'rabbit', 'deer', 'giraffe']
['elephant', 'bear', 'fox', 'wolf', 'rabbit']
['elephant', 'fox', 'rabbit', 'giraffe']

In [ ]:
even_numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]  # soyle de verir bunu: print(list(range(2, 21, 2)))
print(even_numbers[4:9])

[10, 12, 14, 16, 18]

In [ ]:
# a≈ü. listede stringlileri slicela
mix_list = [1, [1, "one", 2, "two", 3, "three"], 4]
print(mix_list[1][1::2])

['one', 'two', 'three']

**Negative Indexing & Slicing**

The negative indexing works in reverse. We can reach the last element of a list as list_name[-1].

In [ ]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']
print(city[-4])

London

In [ ]:
reef = ['swordfish', 'shark', 'whale', 'jellyfish', 'lobster', 'squid', 'octopus']
print(reef[-3:])  # from index -3 to the end
print(reef[:-3])  # from the begining to the index -3
print(reef[::-1])  # the reverse of the list
print(reef[::-2])  # from the end to the beginning with 2 steps

['lobster', 'squid', 'octopus']
['swordfish', 'shark', 'whale', 'jellyfish']
['octopus', 'squid', 'lobster', 'jellyfish', 'whale', 'shark', 'swordfish']
['octopus', 'lobster', 'whale', 'swordfish']

In [ ]:
odd_no = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(odd_no[7:3:-1])
print(odd_no[2:6:-1])  # none return etti. - gidebilmesi i√ßin ilerdeki indexten baslayip basa gitmesi lazim.

[8, 7, 6, 5]
[]

**Hatƒ±rlatma**:

**splt() fonksiyonu** bir stringi belirtilen elementten b√∂ler ve listeye cevirir.
**().join(list_name)** ise list'i belirtilen elementle birle≈ütirip string'e geri cevirir.

In [ ]:
# Task: "Her g√ºn, her hafta, bilgime yeni bilgiler katƒ±yorum, bu beni √ßok motive ediyor." 
# textinde her virg√ºlden sonra "#" karakteri, her bo≈üluktan sonra da "_" karakteri gelsin istiyoruz.
text = "Her g√ºn, her hafta, bilgime yeni bilgiler katƒ±yorum, bu beni √ßok motive ediyor."
text2 = text.split()  # liste yapar. parantez i√ßi default olarak bo≈üluklardan ayƒ±rƒ±r.
text3 = " _".join(text2)  # listeyi geri string yapar
text4 = text3.split(",")  
print(",#".join(text4))

Her _g√ºn,# _her _hafta,# _bilgime _yeni _bilgiler _katƒ±yorum,# _bu _beni _√ßok _motive _ediyor.

In [ ]:
# Task: asagidaki string'den sadece "clarusway.com"u print edelim.
mail = "mailto: Clarusway admission@clarusway.com, 21 Eki 2022 Cuma, 21:08 tarihinde ≈üunu yazdƒ±:"
aaa = mail.split('@')  # @ i≈üaretinden ayƒ±rdƒ± ve list' iki elemente b√∂ld√º.
print(aaa)
print(aaa[1][:13])  # 1. index icinde ba≈ütan basla 13e kadar getir.
print()
# peki eƒüer getirecegimiz kismin len'ini bilmiyorsak?:
mail = "mailto: Clarusway admission@clarusway.com, 21 Eki 2022 Cuma, 21:08 tarihinde ≈üunu yazdƒ±:"
aaa = mail.index('clarusway.com')  # bunun ciktisi 28  # ilk bulduƒüunun index nosunu verir.
bbb = len('clarusway.com')  # bunun ciktisi 13 
print(mail[aaa:aaa+bbb])  # mail[28:28+13]: 28den 41e kadar getir demek.
print()
# index yerine find fonksiyonu da aynƒ± i≈ülevi g√∂r√ºr:
mail = "mailto: Clarusway admission@clarusway.com, 21 Eki 2022 Cuma, 21:08 tarihinde ≈üunu yazdƒ±:"
aaa = mail.find('clarusway.com')  # bunun ciktisi 28
bbb = len('clarusway.com')  # bunun ciktisi 13 
print(mail[aaa:aaa+bbb])  # mail[28:28+13]

['mailto: Clarusway admission', 'clarusway.com, 21 Eki 2022 Cuma, 21:08 tarihinde ≈üunu yazdƒ±:']
clarusway.com

clarusway.com

clarusway.com

**Enumerate method**

Enumerate() method adds a counter to an **iterable **and returns it in a form of enumerating object. Eƒüer deƒüer girmezsek default olarak 0'dan ba≈ülayarak numaralandƒ±rƒ±r.

In [ ]:
members = ["Jason", "Julia", "John", "Jack", "Jim"]
# mesela √ºyeleri √ºye nolarƒ± ile listeleyelim. ƒ∞lk √ºye nosu 756 olsun
# kendimiz numara vermezsek default olarak 0'dan ba≈ülar
print(list(enumerate(members, 756)))
print(list(enumerate(members[2:4], 756)))  # istersek sadece belli bir slice'ƒ± da numaralandƒ±rabiliriz
aaa = "galatasaray"
print(list(enumerate(aaa)))  # str ile denedim calismadi, list ile calisiyor. list'siz de calismiyor
# bunu dict yapabilir miyiz:
bbb = dict(list(enumerate(aaa, 1)))
print(bbb)  # yapabiliyoruz.

[(756, 'Jason'), (757, 'Julia'), (758, 'John'), (759, 'Jack'), (760, 'Jim')]
[(756, 'John'), (757, 'Jack')]
[(0, 'g'), (1, 'a'), (2, 'l'), (3, 'a'), (4, 't'), (5, 'a'), (6, 's'), (7, 'a'), (8, 'r'), (9, 'a'), (10, 'y')]
{1: 'g', 2: 'a', 3: 'l', 4: 'a', 5: 't', 6: 'a', 7: 's', 8: 'a', 9: 'r', 10: 'a', 11: 'y'}

**Assignment, Quiz and Tasks**

In [1]:
# Task: arraydeki eksik sayƒ±yƒ± bulunuz. eger 0,1,3 ise 2 dir, 0,1 ise 2 dir

numbers = [9,1,6,3,8,0,7,5,2]
def missing_number(array):
    x = max(array)
    total = x*(x+1)/2
    i = total-sum(array)
    if i != 0:
        print(int(i))
    else:
        print(x+1)
              
missing_number(numbers)

4

In [2]:
# ya da:

numbers = [9,1,6,3,8,0,7,5,2]

sorted_num = sorted(numbers)
range_sorted_num= (list(range(sorted_num[0], sorted_num[-1]+1)))

if len(range_sorted_num)!= len(sorted_num):
    if len(range_sorted_num) > len(sorted_num):
        print(list(set(range_sorted_num) - set(sorted_num)))
    else:
        print(set(sorted_num) - set(range_sorted_num))
elif len(sorted_num) == 2 and sorted_num[1] == sorted_num[0]+1:
    print(sorted_num[1]+1)

[4]

In [1]:
# find the missing numbers in an array such as [4,3,2,7,8,3,2,1]

numbers = [4,3,2,7,8,3,2,1]
sorted_num = sorted(numbers)

def missing_num(n):
    return list(set(range(n[0], n[-1])) - set(n))

missing_num(sorted_num)

[5, 6]

In [ ]:
# Re-arrange the sentence using the escape sequences from the list using .format() and 
# list indexing methods to get the following output.
sentence = "I am 40 years old. I have two children. Data Science is my IT domain."
# I am 40 years old.
   # I have two children.
       # Data Science is my IT domain.
# escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]
seq1 = escapes[0]
seq2 = escapes [2][1]
sentence = [sentence]
part1 = (sentence[0][0:18])
part2 = (sentence[0][18:39])
part3 = (sentence[0][-29:])

Data Science is my IT domain.

In [ ]:
sentence = "{}{}{}{}{}".format(part1, seq1, part2, seq2, part3)
print(sentence)

I am 40 years old.
	 I have two children.
		Data Science is my IT domain.

In [ ]:
# TASK : Write a program that;
# Finds out the most frequent number in the given list.
# Calculates its frequency.
# Prints out the result such as : the most frequent number is x and it was y times repeated

numbers = [1, 2, 3, 4, 7, 9, 5, 4, 9, 4, 3, 5, 6, 6, 8, 2, 4, 5, 8, 8, 5, 4, 3, 7, 6]
from collections import Counter
def most_frequent(numbers):
    occurrence_count = Counter(numbers)
    return occurrence_count.most_common (1) [0] [0]
count_most_freq = numbers.count(most_frequent(numbers))  # Use .count() to Count Number of Occurrences in a Python List
                              
print(f" the most frequent number is {most_frequent(numbers)} and it was {count_most_freq} times repeated")

 the most frequent number is 4 and it was 5 times repeated

In [ ]:
numbers = [1,3,7,4,3,6,0,3,6,3,7,6,6]
print(max(numbers))  # max bir iterable objectteki en b√ºy√ºk valueyu return eder(√∂rn max(11, 1, 35) 35 i return eder.)
print(max('clarusway'))  # en b√ºy√ºk ascii code y'de burda.
numbers.count(max(numbers))
# max fonsiyonunun default key. fonksiyonunu deƒüi≈ütireceƒüiz simdi.
print(max(numbers, key = numbers.count))  # key deƒüi≈üti, artik elementleri sayip max olarak en cok count edeni aliyor.
# listemizde 2 tane var 4 kere olan. bu fonksiyon ilkini alir.
print(numbers.count(3))
print(f"The most frequent number is {max(numbers, key = numbers.count)} and it was \
{numbers.count(max(numbers, key = numbers.count))} times repeated.")

7
y
3
4
The most frequent number is 3 and it was 4 times repeated.