**Before starting: Mutability and order**

The data structures differ based on mutability and order. **Mutability refers to the ability to change an object after its creation**. Mutable objects can be modified, added, or deleted after they‚Äôve been created, while **immutable** objects cannot be modified after their creation. **Order, in this context, relates to whether the position of an element can be used to access the element**.

**TUPLES**

The most important difference of tuple from the list is that the tuple is **immutable**. Therefore, methods like append() or remove() do not exist in the operations of this type. Tuples are lists which can't be edited. 

Tuples are commonly **used for small collections of values **that will not need to change, such as an IP address and port. If we have **unchanged data**, we should choose tuples because it is much **faster than lists**.

We used square brackets üëâüèª'[]' to define the lists. In the tuple, normal **parentheses üëâüèª'()'** are used.

The same indexing rules for lists also apply to tuples. Tuples can also be nested and the values can be any valid Python values.

**Creating a Tuple**

There are 2 ways of creating a tuple:
1. A tuple can be created by enclosing values, separated by commas, in parentheses.
2. tuple()

If your tuple contains more than one element, separating elements with commas will be enough.

In [ ]:
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [ ]:
import sys  # sys ‚Äî System-specific parameters and functions

In [ ]:
x = [1,2,3]
y = (1,2,3)
print(sys.getsizeof(x))  # getsizeof boyutunu getir demek. sys ile kullanƒ±lƒ±r. tuples are smaller than lists
print(sys.getsizeof(y))

96
80

In [ ]:
# If you want to create a single element tuple, you should use a comma.
try_tuple = ('love')
print(try_tuple)
print(type(try_tuple))  # This is not tuple type.
try_tuple = ('love',)
print(try_tuple)
print(type(try_tuple)) # it's a tuple type.
y= 1,
print(y, type(y))

love
<class 'str'>
('love',)
<class 'tuple'>
(1,) <class 'tuple'>

In [ ]:
t = 12345, 54321, 'hello!'
print(t[0])
print(t)
# Tuples can be nested:
u = t, (1, 2, 3, 4, 5) 
print(u)

12345
(12345, 54321, 'hello!')
((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [ ]:
t = 12345, 54321, 'hello!'  # toplayabiliriz tuple'larƒ±
u = ((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))
aaa = t + u
print(len(aaa), aaa)
print (aaa * 2)  # √ßarpabiliriz

5 (12345, 54321, 'hello!', (12345, 54321, 'hello!'), (1, 2, 3, 4, 5))
(12345, 54321, 'hello!', (12345, 54321, 'hello!'), (1, 2, 3, 4, 5), 12345, 54321, 'hello!', (12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

Another way to create a tuple is to call the **tuple() function**. You do this when you want **to create a tuple from an iterable object**: that is, a type of object whose elements you can import individually.

**The tuple is also iterable like other collections and string types. **

In [ ]:
empty_tuple_1 = tuple()
print(empty_tuple_1)
print(type(empty_tuple_1))

()
<class 'tuple'>

In [ ]:
planets = 'mercury', 'jupiter', 'saturn'
print(tuple(planets))
print(type(planets))
planets = 'mercury, jupiter, saturn'
print(tuple(planets))

('mercury', 'jupiter', 'saturn')
<class 'tuple'>
('m', 'e', 'r', 'c', 'u', 'r', 'y', ',', ' ', 'j', 'u', 'p', 'i', 't', 'e', 'r', ',', ' ', 's', 'a', 't', 'u', 'r', 'n')

**We can convert from list to tuple and vice versa.**

In [ ]:
my_tuple=(1, 4, 3, 4, 5, 6, 7, 4)
my_list = list(my_tuple)
print(type(my_list), my_list)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

In [ ]:
my_list = [1, 4, 3, 4, 5, 6, 7, 4]
my_tuple = tuple(my_list)
print(type(my_tuple), my_tuple)

<class 'tuple'> (1, 4, 3, 4, 5, 6, 7, 4)

In [ ]:
# mesela tuple'a append veya insert yapamƒ±yoruz. dolayƒ±sƒ±yla list'e convert edip 
# bunlari yapip sonra tekrar tuple yapabiliriz.
my_tuple = (1, 4, 3, 4, 5, 6, 7, 4)  # bu tuple'ƒ± √∂nce list'e convert ederiz
my_list = list(my_tuple)
my_list.append(8)
my_list.insert(2, 9)
print(my_list)
print(tuple(my_list))  # sonra tekrar tuple'a

[1, 4, 9, 3, 4, 5, 6, 7, 4, 8]
(1, 4, 9, 3, 4, 5, 6, 7, 4, 8)

In [ ]:
# Daha √∂nce 3 m√º≈üterinin girdiƒüi ≈üifreleri depoladƒ±ƒüƒ±nƒ±z bir veriniz var (passwords = 1234, 56789, 11234).
# Yeni bir m√º≈üterinin girdiƒüi ≈üifreyi bu koleksiyonda ilk sƒ±raya alacak bir kod yazƒ±nƒ±z.
# Veri g√ºvenliƒüi ve verilerin depolama alanƒ±nƒ±zda az yer kaplamasƒ±na dikkat ediniz.
passwords = 1234, 56789, 11234  # bu bir tuple.
new_entry = int(input("Enter your password : "))
passwords2 = list(passwords)
passwords2.insert(0, new_entry)
passwords3 = tuple(passwords2)
print(passwords3)

Enter your password : 656545
(656545, 1234, 56789, 11234)

**An iterable string can be converted to a tuple.**

In [ ]:
mountain = tuple('Alps')
print(mountain) 
# aaa = tuple(123)  TypeError: 'int' object is not iterable

('A', 'l', 'p', 's')

In [ ]:
aaa = range(1, 11)
print(type(aaa))  # range de kendine √∂zg√º bir type.
print(tuple(aaa))

<class 'range'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

**How can We Use a Tuple ?**

Both lists and tuples are **ordered**. It means that when storing elements to these containers, you can be sure that their order will remain the same. You can also duplicate values or mix different data types in tuples.

Same as lists, **tuples support indexing**.

In [ ]:
mix_value_tuple = (0, 'bird', 3.14, True)
print(len(mix_value_tuple))

4

In [ ]:
# indexing a tuple
even_no = (0, 2, 4)
print(even_no[0])    
print(even_no[1])    
print(even_no[2])  # print(even_no[3]) dersem error verir: tuple index out of range

0
2
4

 One of the most important differences of tuples from lists is that '**tuple' object does not support item assignment**. Because tuple is **immutable**.

In [ ]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']
city_list[0] = 'Athens'
city_list[1] = 'Cairo'
print(city_list)

['Athens', 'Cairo', 'Moskow', 'Dublin']

In [ ]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']
city_tuple = tuple(city_list)
city_tuple[0] = 'New York'  # you can't assign a value: 'tuple' object does not support item assignment

TypeError: ignored

In [ ]:
# 'tuple' object does not support item assignment; but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
print(v)
v[0].append(4)  # tuple i√ßindeki bir list'e new item assignmenti.
print(v)

([1, 2, 3], [3, 2, 1])
([1, 2, 3, 4], [3, 2, 1])

**Index and Count methods in Tuple**

**tuple_name.index()** returns the index number of the element.

**tuple_name.count()** returns how many of a certain element there are in a given tuple.

In [ ]:
vowels = ('a', 'e', 'o', 'i', 'u')
print(vowels.count('a'))
print(vowels.count('c'))  # olmayan birsey count ettigimizde error vermez 0 der
print(vowels[2:].count('i')) # belli bir indexten itibaren veya index aralƒ±ƒüƒ±nda aratabiliriz
# index noyu tuple_name sonrasƒ± yazmaya dikkat. eƒüer ('i', 2) vb yazarsak error.

1
0
1

In [ ]:
vowels = ('a', 'e', 'o', 'i', 'u')
print(vowels.index('o'))
# print(vowels.index('c'))  olmayan birsey verdiƒüimizde error verir
# Aramaya kacinci indexten baslamasini ayarlayabiliriz.
print(vowels.index('o', 2))  # 2'den ba≈ülatƒ±nca buldu. eger 3ten baslatsam error verirdi.
print(vowels.index('o', 2, 3))  # arama aralƒ±ƒüƒ±nƒ± daraltabiliriz. o'yu 2. indexten ba≈ülayƒ±p 3. indexe kadarki arada ara .
print(vowels[2:3].index('o'))  # benzer sekilde arama indexini daraltabiliriz. bu slice'ta 0 nolu index oluyor.

2
2
2
0

In [ ]:
aaa = ("11", "", [2, "two", ("six", 6)], (5, "fair"))
# task: six'i getir cevap aaa[2][2][0]. Mantƒ±ƒüƒ±:
print(aaa[2])  # ilk √∂nce ikinci indexe ulastik. o bir list
print(aaa[2][2])  # 2nin 2si sonra. br tuple
print(aaa[2][2][0])

# √ñNEMLƒ∞
# TUPLE'A APPEND, ƒ∞NSERT YAPILAMAZ AMA ƒ∞Cƒ∞NDEKƒ∞ Bƒ∞R Lƒ∞ST'E YAPILABƒ∞Lƒ∞R. √ñRN.
aaa[2].append(False)  # index 2 bir list'ti, ona b√∂yle append yaparƒ±z. veya diƒüer liste fonskyonalrƒ± i≈ületilebilir
print(aaa)

[2, 'two', ('six', 6)]
('six', 6)
six
('11', '', [2, 'two', ('six', 6), False], (5, 'fair'))

**Tuple packing** refers to assigning multiple values into a tuple. **Tuple unpacking** refers to assigning a tuple into multiple variables.

**DICTIONARIES**

Dictionaries are the collection types which store **items (item pairs)**.

Dictionaries are similar to real dictionaries which contain words and their meanings. In Python, you can accept the words as **key** and the meaning of the words as **value**.

**A dictionary in Python is a collection of key-value pairs called items of a dictionary.** It is an **unordered collection of elements**. Dictionaries are indexed by keys. The dictionary is **enclosed by curly braces üëâüèª{}.** Each pair (item) is separated by a **comma** and the key and value are separated by a **colon**.

Dictionaries are sometimes found in other languages as ‚Äúassociative memories‚Äù or ‚Äúassociative arrays‚Äù. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys.

**Creating a Dictionary**

There are two methods two create a dictionary:

1. A dictionary **can be created by enclosing pairs, separated by commas, in curly-braces**. 

2. We can use a function to create a dictionary : 'dict()' function.

In [ ]:
empty_dict_1 = {}
empty_dict_2 = dict()
print(type(empty_dict_1))

<class 'dict'>

In [ ]:
my_dict = {'key1': 'value1', 'key2': 'value2','key3': 'value3'}
print(my_dict)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

Performing **list(dict_name)** on a dictionary returns a list of all the keys used in the dictionary in insertion order (if you want it sorted, just use **sorted(d)** instead).

In [ ]:
my_dict = {'key1': 'value1', 'key2': 'value2','key3': 'value3'}
print(list(my_dict))
tel = {'jack': 4098, 'guido': 4127, 'irv': 4127}
print(list(tel))
print(sorted(tel))

['key1', 'key2', 'key3']
['jack', 'guido', 'irv']
['guido', 'irv', 'jack']

The syntax for **accessing an item** is very simple. We write a key that we want to access **in square brackets** and it gives its value. This method works both for **adding items** to a dict and for reading them from there.

**Eklemek istediƒüimizi de access etmek istediƒüimizi de [ ] ile vermeliyiz.**

In [ ]:
state_capitals = {'Arkansas': 'Little Rock', 'Colorado': 'Denver',
                  'California': 'Sacramento', 'Georgia': 'Atlanta'}
print(state_capitals['Colorado']) # accessing method. it returns the value of the given key

Denver

In [ ]:
state_capitals = {'Arkansas': 'Little Rock','Colorado': 'Denver',
                  'California': 'Sacramento','Georgia': 'Atlanta'}
state_capitals['Virginia'] = 'Richmond' # adding a new item to the dict
print(state_capitals)
state_capitals['Texas'] = 'Austin'
print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond'}
{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'Atlanta', 'Virginia': 'Richmond', 'Texas': 'Austin'}

**We can also access a key by using get() method**

In [ ]:
# get vs [] for retrieving elements
my_dict = {'name': 'Jack', 'age': 26}
print(my_dict['name'])
print(my_dict.get('age'))
print(my_dict.get('address'))
# Trying to access keys which doesn't exist by using [] throws error; get() returns None.
# get()'da defaul value none getirmesi, ama bunu deƒüi≈ütireibliriz
print(my_dict.get('address', ["address can't be found"]))  # None deƒüil de address can't be found return eder burda.
# bu sonuncu √∂zellikle conditional statementsda kullanƒ±lƒ±yor.

**Main Features of keys**

In [ ]:
aaa = {1: 'one','two': 2, False : [1,2,3], 1.5: ("one", "two"), (1,2) : 'Atlanta'}
print(aaa)  # farklƒ± data types ile dict olu≈üturulabilir. hem key'ler hem value'lar farklƒ± datay types olabilir.
# AMA: key'ler list gibi unhashable type'lar olamaz. mutable'lar key olamaz. Bec keys are unique. √∂rnek a≈üaƒüƒ±da:
# print(sorted(aaa)) bu dic sort edilemez ama: Error: not supported between instances of 'str' and 'int'

{1: 'one', 'two': 2, False: [1, 2, 3], 1.5: ('one', 'two'), (1, 2): 'Atlanta'}

In [ ]:
bbb = {[1,2]: 'one','two': 2, False : [1,2,3], 1.5: ("one", "two"), (1,2) : 'Atlanta'}
print(bbb)  # mesela bu error verir. TypeError: unhashable type : 'list'

TypeError: ignored

Restrictions;
-	a given key can appear in a dictionary only once. Duplicate keys are not allowed. 
-	a dictionary key must be of a type that is immutable. 
- If you specify a key a second time during the initial creation of a dictionary, then the second occurrence will OVERRIDE the first.

In [ ]:
# key olarak dict olur mu:
ccc = {{1 : 2} : 'one','two': 2, False : [1,2,3], 1.5: ("one", "two"), (1,2) : 'Atlanta'}
print(ccc)  # bu da olmaz. √ß√ºnk√º dict'ler de deƒüi≈ütirilebilir, mutable. immutable olmalƒ±. 
# ama tuple immutable olduƒüu i√ßin key olabilir.

TypeError: ignored

√ñnemli: **Do not use quotes for keys when using the dict() function to create a dictionary**.

You cannot use **iterables as keys** to create a dictionary.

dict = {'key1':'value1', 'key2':'value2'}

dict_by_dict = dict(key1 = 'value1', key2 = 'value2')

Her iki metotta colonlara, key value e≈üitliƒüni saƒülayan sembollere, parantezlere dikkat.

In [ ]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)
# dict metodu ile yeni bir dict yapiyoruz burada. key'leri quotes icinde verirsek error.
# denedim, su erroru verdi: keyword can't be an expression
# {} METODU ƒ∞LE Dƒ∞CT YAPARKEN KEY'LER DE QUOTES'A ALINIR. EN USTE BILGIYE BAK TEKRAR. 
print(dict_by_dict)

# √ñNEMLƒ∞: dict ile olu≈ütururken key ve value arasƒ±ndakinin colon deƒüil de
# = olmasƒ±na dikkat et. yoksa hata verir. {} metodunda ise normal key : value

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True}

In [ ]:
dict(isim = "ali", isim = "veli")  # normalde sonuncuyu alƒ±r {} ile dict olu≈ütururken.
# SyntaxError: keyword argument repeated. dict fonksiyonunda aynƒ± isimde 2 key kabul etmez.
# sunu kabul eder: aaa = {'isim' : "ali", 'isim' : "veli"}

SyntaxError: ignored

The **dict()** constructor builds dictionaries directly from sequences of key-value pairs:

In [ ]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [ ]:
listoftuple = [('sape', 4139), ('guido', 4127), ('jack', 4098)]
tuples_dict = dict(listoftuple)
print(tuples_dict)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [ ]:
# mesela d√ºz bir listemiz olsun ve onu dict yapalƒ±m
d√ºzlistem = [1,2,3,4,5]
aaalistem = [6,7,8,9,10]
# zip(d√ºzlistem, aaalistem) direkt b√∂yle olmaz
zip_list = zip(d√ºzlistem, aaalistem)
list(zip_list)  # pairli hale geldi. artik bunu dict yapabiliriz.

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]

In [ ]:
zip_list = zip(d√ºzlistem, aaalistem)
print(* zip_list)  # bu da diƒüer y√∂ntemi

(1, 6) (2, 7) (3, 8) (4, 9) (5, 10)

In [ ]:
zip_list = zip(d√ºzlistem, aaalistem)
dict(list(zip_list))

{1: 6, 2: 7, 3: 8, 4: 9, 5: 10}

In [ ]:
basitliste2 = list(range(1000))  # bin keylik liste yapalƒ±m
dict(list(zip(basitliste2, basitliste2)))  # ziple elemanlarƒ±nƒ± kar≈üƒ±lƒ±klƒ± pair yapƒ±p list haline getirip onu da dict yaparƒ±z. 
# b√∂ylece hƒ±zlƒ±ca 1000 item'lik bir dict olu≈üturmu≈ü oluruz.

In [ ]:
ayakkabi = {'ali' : 1,
            'deli' : 1,
            'veli' : 1
            }
ayakkabi['ali'] += 1  # Dict'lerde value int ise arith ope lerle value'lar degistirilebilir.

In [ ]:
print(ayakkabi)

{'ali': 2, 'deli': 1, 'veli': 1}

In [ ]:
dict_by_dict = dict(animal='dog', planet='neptun', number=40, pi=3.14, is_good=True)
print(dict_by_dict['is_good'], type(dict_by_dict['is_good']))  
# eger [is_good] yazarsak quotesuz error verir. (is_good is not defined)
# is_good class type bool, dikkat.

True <class 'bool'>

**Main Operations with Dictionaries**

There are several methods that allow us to **access items, keys, and values**. Y**ou can access all items using the .items() method, all keys using the .keys() method, and all values using the .values() method**.

In [ ]:
dict_by_dict = {'animal': 'dog','planet': 'neptun','number': 40,'pi': 3.14,'is_good': True}
print(dict_by_dict.items())  #bu i√ßinde tuplelar olan list gibi return eder. ama items formati bu, list deƒüil typei
print(dict_by_dict.keys()) 
print(dict_by_dict.values())
print(list(dict_by_dict.items()))  #bunlari liste de convert edebiliriz. boylece list methodlarƒ± uygulayabiliriz
print(list(dict_by_dict.keys())) 
print(list(dict_by_dict.values()))

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])
dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])
dict_values(['dog', 'neptun', 40, 3.14, True])
[('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)]
['animal', 'planet', 'number', 'pi', 'is_good']
['dog', 'neptun', 40, 3.14, True]

In [ ]:
print(dict_by_dict.items())
print(type(dict_by_dict.items()))  # kendine has bir type'ƒ± olur bunun.
print(len(dict_by_dict.items()))  # bunu listeye cevirebiliriz. her elemanƒ± bir tuple olan list
print(list(dict_by_dict.items()))
print(len(list(dict_by_dict.items())))

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])
<class 'dict_items'>
5
[('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)]
5

In [ ]:
items = list(dict_by_dict.items())
print(items)
print(items[0])  
# bunu tuple unpacking ile farklƒ± variablesa atayablir miyiz?
x, y = items[0]
print(x)
print(y)

[('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)]
('animal', 'dog')
animal
dog

In [ ]:
print(type(dict_by_dict.keys())) 
print(dict_by_dict.keys())
# istersek bunu tuple da yapabliriz
print(tuple(dict_by_dict.keys()))

<class 'dict_keys'>
dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])
('animal', 'planet', 'number', 'pi', 'is_good')

In [ ]:
print(dict_by_dict.values())
print(set(dict_by_dict.values()))

dict_values(['dog', 'neptun', 40, 3.14, True])
{True, 3.14, 40, 'neptun', 'dog'}

In [ ]:
#Departmanƒ±ndaki i≈ü√ßilerin kazan√ßlarƒ±nƒ± dollar olarak aldƒ±ktan sonra payrollarƒ±nƒ±
# $xx.yy formatƒ±nda g√∂ster
amount_dollar = { 'Jason' : 135.75, 'Julia' : 98.5, 'John' : 103.38}
payrolls_dollar = amount_dollar.values()
bbb = list(amount_dollar.values())
print(bbb)
print("${:.2f} \n${:.2f} \n${:.2f}".format(list(amount_dollar.values())[0], 
                                           list(amount_dollar.values())[1], list(amount_dollar.values())[2] ))

[135.75, 98.5, 103.38]
$135.75
$98.50
$103.38

We can add a new item by assigning value to a key that is not in the dictionary. **Likewise, we can add new items using the .update() method**.

In [ ]:
dict_by_dict = {'animal': 'dog','planet': 'neptun','number': 40,'pi': 3.14,'is_good': True}
dict_by_dict.update({'is_bad': False})  # () i√ßinde {} i√ßinde yazmayƒ± unutma
print(dict_by_dict)
dict_by_dict.update({'aaaaa': 134, 153: 'bir_sayi'})  # update ile 2 tane birden de eklenebilir.
print(dict_by_dict) 
# peki olan bir key yazarsak
dict_by_dict.update({'aaaaa': 135})
print(dict_by_dict)   # o key zaten varsa mevcudu gunceller.

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}
{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False, 'aaaaa': 134, 153: 'bir_sayi'}
{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False, 'aaaaa': 135, 153: 'bir_sayi'}

In [ ]:
dict_by_dict = {'animal': 'dog','planet': 'neptun','number': 40,'pi': 3.14,'is_good': True}
print(dict_by_dict['number'] * 5)  # sadece key ile yapƒ±lƒ±r bu i≈ülemler. key name yerine index no yazarsak error verir
print(dict_by_dict['animal'] * 5)
print(dict_by_dict['animal'] + " is a nice animal.")
# i≈ülem yapacaƒüƒ±mƒ±z key'in value'su int ise diƒüer matematik i≈ülemleri yapƒ±labilir.

200
dogdogdogdogdog
dog is a nice animal.

You can also **remove** an item by using **the del function**:

**The formula syntax is : del dictionary_name['key'].**

In [ ]:
dict_by_dict = {'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}
del dict_by_dict['animal']  # del dict_name['key_name'].. value deƒüil key name ile.
print(dict_by_dict) 
del dict_by_dict['planet'], dict_by_dict['number']  # iki tane key'i birlikte de silebiliriz
print(dict_by_dict)

{'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}
{'pi': 3.14, 'is_good': True, 'is_bad': False}

Using the **in** and the **not in operator**, **you can check if the key is in the dictionary**.

**When we use the in operator;** if the key is in the dictionary, the result will be **True** otherwise **False**.

**When we use the not in**; if the key is not in the dictionary, the result will be **True **otherwise **False**.

In [ ]:
dict_by_dict = {'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': True, 'is_bad': False}
print('pi' in dict_by_dict) 
print('animal' not in dict_by_dict)  # remember, we have deleted 'animal'
print('number' in dict_by_dict)
print('participant' in dict_by_dict)
print('participant' not in dict_by_dict)
print('dog' in dict_by_dict.values())  # Values icinde b√∂yle arama yapabiliriz ama.
print(True in dict_by_dict.values())
print(('number', 40) in dict_by_dict.items())  # item aramasƒ±nda 'number' :40 seklinde colonla degil de, arada , ile aramaya dikkat.

True
True
True
False
True
False
True
True

In [ ]:
# Summary so far
flower_colors = {'rose':'pink', 'tulip': 'yellow', 'lily': 'white', 'orchid': 'purple'}
flower_colors['daisy'] = 'yellow-white'
print(flower_colors)
print(flower_colors['rose'])
print(flower_colors.items())  # flower_colors[2].items() olmaz. index no degil key olmalƒ±.
print(flower_colors.keys())
print(flower_colors.values())
flower_colors.update({'hyacinth': 'deep purple'})
print(flower_colors)
flower_colors = {'rose': 'pink', 'tulip': 'yellow', 'lily': 'white', 
                 'orchid': 'purple', 'daisy': 'yellow-white', 'hyacinth': 'deep purple'}
del flower_colors['daisy']  # square box ile yazmaya dikkat. round parantheses yazdƒ±m syntax error verdi
print()
print(flower_colors)
print('daisy' in flower_colors)
print('hyacinth' in flower_colors)
print('daisy' not in flower_colors)

{'rose': 'pink', 'tulip': 'yellow', 'lily': 'white', 'orchid': 'purple', 'daisy': 'yellow-white'}
pink
dict_items([('rose', 'pink'), ('tulip', 'yellow'), ('lily', 'white'), ('orchid', 'purple'), ('daisy', 'yellow-white')])
dict_keys(['rose', 'tulip', 'lily', 'orchid', 'daisy'])
dict_values(['pink', 'yellow', 'white', 'purple', 'yellow-white'])
{'rose': 'pink', 'tulip': 'yellow', 'lily': 'white', 'orchid': 'purple', 'daisy': 'yellow-white', 'hyacinth': 'deep purple'}

{'rose': 'pink', 'tulip': 'yellow', 'lily': 'white', 'orchid': 'purple', 'hyacinth': 'deep purple'}
False
True
True

In [ ]:
flower_colors = {'rose': {'pink', 'yellow'}}
print(flower_colors)
print(flower_colors.values())  # dicts are unordered. That's why it returned yellow and pink.

{'rose': {'yellow', 'pink'}}
dict_values([{'yellow', 'pink'}])

**Nested Dictionaries**

We can use **square brackets to access internal dicts**

In [ ]:
school_records={
    "personal_info":  # buradan sonraki kƒ±sƒ±m grades_infoya kadar bir value. valuelar dict olabilir. bu dict de key ve valuelara sahip
        {"kid":{"tom": {"class": "intermediate", "age": 10},  # her {} sonrasƒ± virg√ºlle ayƒ±rmaya dikkat
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}

In [ ]:
print(school_records["personal_info"])
print(type(school_records))
print(len(school_records["personal_info"]))  # i√ßinde 2 ayrƒ± dict var

print(school_records["grades_info"])

{'kid': {'tom': {'class': 'intermediate', 'age': 10}, 'sue': {'class': 'elementary', 'age': 8}}, 'teen': {'joseph': {'class': 'college', 'age': 19}, 'marry': {'class': 'high school', 'age': 16}}}
<class 'dict'>
2
{'kid': {'tom': {'math': 88, 'speech': 69}, 'sue': {'math': 90, 'speech': 81}}, 'teen': {'joseph': {'coding': 80, 'math': 89}, 'marry': {'coding': 70, 'math': 96}}}

In [ ]:
print(school_records["grades_info"]['teen']['joseph'])
print(list(school_records["grades_info"]['teen']['joseph'].items()))

{'coding': 80, 'math': 89}
[('coding', 80), ('math', 89)]

In [ ]:
print(school_records['personal_info']['teen']['marry']['age'])
print(type(school_records['personal_info']['teen']['marry']['age']))
print(school_records['grades_info'] ['kid'] ['tom'] ['speech'])

16
<class 'int'>
69

Dictionaries strongly resemble **JSON syntax**. The native json module in the Python standard library can be used to convert between JSON and dictionaries. **It's a standardized format commonly used to transfer data.** It's frequently used in APIs and databases. It's readable by both humans and machines.

In [ ]:
clients = {
    'client1':
    {'name' : 'ƒ∞skender √áƒ±nar',
    'occupation' : 'Taxi driver',
    'hobbies' : ['talking', 'car fixing', 'cooking'],
    'kid' : {'mecnun' : {'occupation':'unemployed', 'age' : 40}}},
    'client2' :
    {'name' : 'Erdal Bakkal',
     'Occupation': 'Grocery',
     'hobbies' : ['counting money', 'serving tea'],
     'kid' : { 'yavrim': {'occupation' : 'not available', 'age' : 1}},
     },
}
print(clients['client1'])
print(clients['client1']['hobbies'])
print(clients['client1']['kid']['mecnun']['age'])
print(clients['client2'] ['name'])
print(clients['client2']['kid']['yavrim']['age'])

{'name': 'ƒ∞skender √áƒ±nar', 'occupation': 'Taxi driver', 'hobbies': ['talking', 'car fixing', 'cooking'], 'kid': {'mecnun': {'occupation': 'unemployed', 'age': 40}}}
['talking', 'car fixing', 'cooking']
40
Erdal Bakkal
1

**Building a Calculator by using "Dictionary"**

In [ ]:
# key'leri 4 i≈ülemin operatoruneden olusan bir dict olusturalim

In [1]:
calculator = {"+" : lambda x,y: x+y,
              "-" : lambda x,y: x-y,
              "*": lambda x,y: x*y,
              "/": lambda x,y: x/y} 

# dict'in valuesunu birsey return eden bir fonksiyon da yapabiliriz
# simdi 4 islem yapacagiz ama daire alani alan, abs value alan, istedigimizi yapan fonksiyonlar atayabiliriz.
# ya da nested dict yaparƒ±z, aynƒ± key hem sinus alir, hem alan hesabƒ± yapar, hem farklƒ± i≈ülemler yapar.

In [2]:
calculator["/"]

In [4]:
print(calculator["/"](9,3))
print(calculator["-"](9,3))

3.0
6

ANAGRAM BULMA

In [1]:
strs = ["eat", "tea", "tan", "ate", "nat", "bat"]
# bo≈ü bir dict olu≈üturalƒ±m
grouped_anagrams = {}
# listedeki t√ºm stringleri tek tek itere edip sort edelim
for string in strs:
  
    sorted_string = str(sorted(string))
    print(sorted_string)
   # anagram olup olmamalarƒ±na g√∂re listelere append edelim
    if sorted_string in grouped_anagrams:
        grouped_anagrams[sorted_string].append(string)
    else:
        
        grouped_anagrams[sorted_string] = [string]

print(list(grouped_anagrams.values()))

['a', 'e', 't']
['a', 'e', 't']
['a', 'n', 't']
['a', 'e', 't']
['a', 'n', 't']
['a', 'b', 't']
[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [6]:
# iki stringin anagram olup olmadƒ±ƒüƒ±nƒ± kontrol etme
strs = ["eat", "tea", "tan", "ate", "nat", "bat"]

from collections import Counter

def anagrammi(s1,s2):
    """
    As seen in method 2, we first check if both strings have the 
    same length because if they're not it's impossible for them
    to be anagrams.
    """
    if len(s1) != len(s2):
        return False

    #comparing dictionaries with equality operator
    return Counter(s1) == Counter(s2)
anagrammi(strs[1], strs[2])  # bu false verdi
anagrammi(strs[0], strs[1])

True

**SETS**

As built-in data type in Python, sets are used to store multiple items in a single variable. A set is a collection which is **unordered, unchangeable, and unindexed**. **Every set element is unique (no duplicates) and must be immutable (cannot be changed)**. However, a set itself is mutable. We can add or remove items from it.

Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

How to create a set:

**Curly braces '{}' or the set() function** can be used to create sets. But the only way to create an empty set is: use of the set() function.
(Do not use {} to create an empty set. Otherwise, you will create an empty dictionary.)

In [ ]:
empty_set = set()
print(type(empty_set))
print(bool(set()))

<class 'set'>
False

1. Sets are **unordered**. For ex:

In [ ]:
colorset = {'purple', 11, 'orange', 'red', 11, 'darkblue', 25, 'yellow', 'red'}
print(colorset)  # return ettiginde icinde birden fazla olan valuelarƒ± teke indirir
# Every set element is unique (no duplicates)

{'purple', 11, 'yellow', 'orange', 'darkblue', 'red', 25}

In [ ]:
print({'purple', 'orange', 'red', 'darkblue', 'yellow', 'red'})
# bende aynƒ± √ßƒ±ktƒ± ama normalde aynƒ± set'i iki kere print etsen sƒ±ralama farklƒ± √ßƒ±kabilir. Normal bu. 
# Unordered: every time you print the set, the order of the objects in the set changes.

{'purple', 'yellow', 'orange', 'darkblue', 'red'}

In [ ]:
s = set('unselfishness')
print(s) 
print(set('ivan ivanov ivanovic'))

{'f', 'n', 'h', 's', 'e', 'i', 'u', 'l'}
{'a', ' ', 'c', 'o', 'n', 'v', 'i'}

2. Using sets can help you **avoid repetitions**.

In [ ]:
flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']
flowerset = set(flower_list)  # list'i set'e convert edelim. Dikkat: repetitions
flowerlist = list(flowerset)  # sonra tekrar lis'e convert edelim
print(flowerset) 
print(flowerlist)

{'orchid', 'violet', 'rose', 'carnation'}
['orchid', 'violet', 'rose', 'carnation']

In [ ]:
listem = [[1,2,3], 'a', 3.14, 6]
# setim = set(listem)  error verir bu. TypeError: unhashable type: 'list' List k√ºme elemanƒ± olamaz.
# dict de olmaz aynƒ± ≈üeklde. mutable/deƒüi≈ütirilebilir √ß√ºnk√º
# k√ºmenin elemanƒ± da k√ºme olmaz. o da hashable.
# tuple olur ama. immutable o
print({(1,2,3), 'a', 3.14, 6})

{'a', 3.14, 6, (1, 2, 3)}

**Main Operations with Sets**

There are several methods that allow us to add and remove items to/from sets. Some of them are:

set_name.**add()** : Adds a new item to the set.

set_name.**remove()** : Allows us to delete an item.

set_name.**intersection()** : Returns the intersection of two sets.

set_name.**union()** : Returns the unification of two sets.

set_name.**difference()** : Gets the difference of two sets.

set_name.**len()** :Get the number of set‚Äôs elements 

**in /not in operators**: to check if an element belongs to a specific set(in / not in operators). They return the boolean value.

In [ ]:
a = set('abracadabra')
print(a)  
a.add('x')
print(a)
a.remove('x')
print(a)
print(len(a))

{'b', 'r', 'd', 'a', 'c'}
{'b', 'r', 'd', 'a', 'x', 'c'}
{'b', 'r', 'd', 'a', 'c'}
5

In [ ]:
b = set('alacazam')
print(a - b)  # same as '.difference()' method
print(a.difference(b)) # a difference from b
print()
print(a | b)  # same as '.union()' method
print(a.union(b)) # unification of a with b
print()
print(a & b)  # same as '.intersection()' method
print(a.intersection(b)) # intersection of a and b
print(len(a), 'd' in a)

{'r', 'd', 'b'}
{'r', 'd', 'b'}

{'a', 'b', 'c', 'z', 'm', 'r', 'd', 'l'}
{'a', 'b', 'c', 'z', 'm', 'r', 'd', 'l'}

{'c', 'a'}
{'c', 'a'}
5 True

In [ ]:
a = set('abracadabra')
a.remove('c') # we delete 'c' from the set
print(a)
a.add('c') # we add 'c' again into the set
print(a)

{'b', 'a', 'r', 'd'}
{'b', 'a', 'c', 'r', 'd'}

In [ ]:
aa = '10.26.2022'
print(set(aa))  # set fonksiyonu i√ßine aldƒ±ƒüƒ± iterable'ƒ± elemanlarƒ±na ayƒ±rƒ±p k√ºme yapar
bb = {'10.26.2022'}  
print(bb, type(bb))  # {} tek elemanlƒ± bir k√ºme yapar.

{'.', '6', '1', '0', '2'}
{'10.26.2022'} <class 'set'>

In [ ]:
aaa = [1,2,3,1,2,34,1,2,3,4,5,6,7,1,2,3,]
setaaa= set(aaa)  # setaaa = {aaa} olmaz. cunku list unhashable der.
listaaa= list(setaaa)
print(listaaa)

[1, 2, 3, 34, 4, 5, 6, 7]

In [ ]:
aaa = "Washington"
bbb = "Wellington"
aaa1= set(aaa)
bbb1= set(bbb)
print(aaa1 & bbb1)
print(aaa1.union(bbb1))
print(aaa1 - bbb1)
print(bbb1 - aaa1)

{'W', 'o', 'g', 't', 'i', 'n'}
{'W', 'o', 'g', 'e', 't', 'a', 'i', 's', 'h', 'l', 'n'}
{'h', 's', 'a'}
{'e', 'l'}

In [ ]:
k1 = set([1,2,3])
k2 = set([1,3,5])
k1.difference_update(k2)  # k1 k√ºmesini k1in k2den farkƒ±yla update etti
print(k1)

{2}

In [ ]:
hayvanlar = set(['kedi', 'k√∂pek', 'inek'])
hayvanlar.discard('kedi')  # kediyi dscard eder
print(hayvanlar)
hayvanlar.remove('k√∂pek')
print(hayvanlar)
# eƒüer i√ßinde o eleman yoksa remove error verir, ama dscard vermez. 
hayvanlar.discard('√∂rdek')
print(hayvanlar)  # yne inek yazdƒ±rdƒ± normal

{'inek', 'k√∂pek'}
{'inek'}
{'inek'}

**Setlerde sorgulamalar**

In [ ]:
a = set('abracadabra')
b = set('alacazam')
print(a.isdisjoint(b))  # iki k√ºmenin kesi≈üimi bo≈ü mu?
print(a.issubset(b))  # a b'nin alt k√ºmes midir?
print(a.issuperset(b))  # a b'yi kapsar mƒ±?

False
False
False

In [ ]:
set1 = set([1,3,5])
set2 = set([1,2,3])
set1.intersection_update(set2)  # kesi≈üimi set1'e assign eder. yeni bir set 1 olu≈üur.
print(set1)
set2.intersection_update(set1)  # kesi≈üimi set1'e assign eder. yeni bir set 1 olu≈üur.
print(set2)

{1, 3}
{1, 3}

In [ ]:
# Task: user sentence pangram mƒ±dƒ±r?
user_sentence = set("the quick brown fox jumps over a lazy dog")
letters = set("abcdefghijklmnopqrstuwxvyz")
# ilk y√∂ntem
ispangram = user_sentence.intersection(letters)
print(len(ispangram), len(letters))  # if ispangram == letters: der cevabƒ± buluruz
if user_sentence.intersection(letters) == letters:
      print(True)
else :
    print(False)
# ikinci y√∂ntem
print(letters.issubset(user_sentence))  # letters user sentƒ±n alt k√ºmesi midir
# √ºc√ºnc√º y√∂ntem
print(user_sentence.issuperset(letters))  # user sent lettersƒ± kaplar mƒ±
if letters.issubset(user_sentence) :
    print(True)
else :
    print(False)

26 26
True
True
True
True

In [ ]:
aaa = set(range(1,11,2))
bbb = set(range(1,20))
print(aaa)
print(bbb)
print(bbb-aaa)
print(bbb.difference(aaa))
print(aaa.difference(bbb))  # aaa, bbb'nin tamamen alt k√ºmesi olduƒüu i√ßin fark yok, bo≈ü k√ºme verir.
print()
print(aaa | bbb)  # | symbolu option + +'da. 
print(aaa.union(bbb))
print()
print(aaa & bbb)
print(bbb.intersection(aaa))

bbb.remove(14)  # buraya 2 element yazƒ±nca error: remove() takes exactly one argument (2 given)
print(bbb)
aaa.add(11)  # aynƒ± anda 2 tane eklemek istersen error: add() takes exactly one argument (2 given)
print(aaa)
print(len(aaa), len(bbb))
print(1 in aaa)
print(2 in aaa)
print()
print(aaa.isdisjoint(bbb))  # iki k√ºmenin kesi≈üimi bo≈ü mu?
print(aaa.issubset(bbb))  # a b'nin alt k√ºmes midir?
print(aaa.issuperset(bbb))  # a b'yi kapsar mƒ±?

{1, 3, 5, 7, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
{2, 4, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
{2, 4, 6, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
set()

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19}
{1, 3, 5, 7, 9, 11}
6 18
True
False

False
True
False

In [ ]:
print(len(set('listen to the voice of enlisted')))

13

In [ ]:
# Task: kelime comfortable word mu degil mi bul.

left = set("qwertasdfgzxcvb")
right = set("yuiophjklmn")
print(left | right, len(left | right))  # ikisinin unificationu alfabe, emin olmak icin len ctrl
# ya da sƒ±ralƒ± liste haline getirelim. tuplelarda yapamadigimiz sort islemi icin.
print()
sƒ±ralƒ±_alfabe = list(left | right)
print(sƒ±ralƒ±_alfabe)
print()
sƒ±ralƒ±_alfabe.sort()
print(sƒ±ralƒ±_alfabe)
len(sƒ±ralƒ±_alfabe)
# kelimemiz clarusway olsun
print()
word = set("clarusway")
# sag sol elle kontrol edelim
leftcheck = bool(word.difference(left))
print(leftcheck)
rightcheck = bool(word.difference(right))
print(rightcheck)  # T verdigine gore ikisi de dolu. yani tamamen subset degil.
# sonucu bulmak icin
print(leftcheck and rightcheck)  # ikisinden de varsa bu comf worddur.

{'t', 'e', 'z', 'p', 'c', 'm', 'j', 'w', 'g', 'k', 'a', 'i', 'v', 'b', 'o', 'f', 'x', 's', 'q', 'r', 'l', 'y', 'h', 'd', 'n', 'u'} 26

['t', 'e', 'z', 'p', 'c', 'm', 'j', 'w', 'g', 'k', 'a', 'i', 'v', 'b', 'o', 'f', 'x', 's', 'q', 'r', 'l', 'y', 'h', 'd', 'n', 'u']

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

True
True
True

In [ ]:
word1 = "tester"
word2 = "polk"
word3 = "mathematics"
left = set("qwertasdfgzxcvb")
right = set("yuiophjklmn")
print(bool(set(word1).intersection(left) and set(word1).intersection(right)))
print(bool(set(word2).intersection(left) and set(word2).intersection(right)))
print(bool(set(word3).intersection(left) and set(word3).intersection(right)))

False
False
True

**mutable & immutable**

**mutable deƒüi≈ütirilebilenler**: list, dict, set, user-defined classes

**immutable**: int, float, decimal, bool, string, tuple, range

immutable verilerin hash degeri vardir ve degistirilemezler. hash() nesnen≈ün hash degerini getirir. Hash degeri her runtime'a √∂zel. Runtime resetlendiginde, ya da yeni bir runtime acildiginda aynƒ± value'nun hash degeri degisir.

In [ ]:
sayƒ± = 10
hash(sayƒ±)

10

In [ ]:
hash('10')

-8230790163719710082

In [ ]:
hash('c')

4028187736005383086

In [ ]:
listem = [10,20,30]  #listler mutable olduƒüu i√ßin hash degeri yoktur. Error verir.
# hash(listem) return edildiginde error verir. TypeError: unhashable type: 'list'

In [ ]:
mytuple = (1,2,3,4,5)
mylist = [1,2,3,4,5]

print(hash(mytuple))  # listemin hash degerini print et desek error verir. cunku mutable.

8315274433719620810

In [ ]:
# has degeri genellikle dictlerde key degerini karsilastirmak icin kullanƒ±lƒ±yor.